# 2회 기출 변형
## 작업 1유형

- 데이터설명: 보스턴집값, 각 행은 지역구별 집값
- 관련된 메타정보: https://www.kaggle.com/datasets/arunjathari/bostonhousepricedata
- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

1-1. 주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고
10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고
AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라

In [ ]:
target = df.sort_values('CRIM', ascending=False).head(10)
min = target['CRIM'].min()
idx = target.index
df.loc[idx, 'CRIM'] = min
df[df['AGE'] >= 80]['CRIM'].mean()

5.759386625

1-2. 1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라
그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라

In [ ]:
before = df['RM'].std()
df['RM'] = df['RM'].fillna(df['RM'].median())
abs(round(before - df['RM'].std(), 3))

0.027

1-3. 주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고
DIS 컬럼의 이상치들의 합을 구하여라.

In [ ]:
mean = df['DIS'].mean()
outlier = 1.5*df['DIS'].std()
df[(df['DIS'] < (mean - outlier)) | (df['DIS'] > (mean + outlier))]['DIS'].sum()

404.4101

## 작업 2유형
- 데이터 설명: e-commerce 배송의 정시 도착여부 (1: 정시배송 0 : 정시미배송)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv
- x_label(평가용): https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv
- 데이터 출처: https://www.kaggle.com/datasets/prachi13/customer-analytics (참고, 데이터 수정)

x_train 데이터로 학습한 모델을 x_test에 적용하여 예측한 결과를 제출하라. 평가 지표는 f1_score이다.

In [ ]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")

ID = x_test.ID
test = x_test.drop(columns='ID')

x = x_train.drop(columns='ID')
y = y_train.drop(columns='ID')

x = pd.get_dummies(x)
test = pd.get_dummies(test)

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x['Customer_rating'] = encoder.fit_transform(x['Customer_rating'])
test['Customer_rating'] = encoder.fit_transform(test['Customer_rating'])

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
test = scaler.transform(test)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, stratify=y, random_state=10)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10, n_estimators=250)
rf.fit(x_train, y_train)

tr_predict = rf.predict(x_train)
te_predict = rf.predict(x_test)


test_predict = rf.predict(test)

from sklearn.metrics import f1_score

print('train f1_score:', f1_score(y_train, tr_predict))
print('test f1_score:', f1_score(y_test, te_predict))

pd.DataFrame({'ID': ID, 'Reached.on.Time_Y.N': test_predict})

<ipython-input-49-17e2982b4aa3>:31: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

train f1_score: 1.0
test f1_score: 0.7079882447234839

         ID  Reached.on.Time_Y.N
0      6811                    0
1      4320                    0
2      5732                    0
3      7429                    1
4      2191                    1
...     ...                  ...
4396   2610                    1
4397   3406                    0
4398  10395                    0
4399   3646                    0
4400    573                    1

[4401 rows x 2 columns]

## 작업 3유형
- 어느 호수에서 잡은 물고기 122마리 길이 데이터 (자체제작)
- DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head()

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

3-1-a. 122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만 출력하라

In [ ]:
df['height_m'] = df['height'].str.replace('cm', '').astype('float')
round(df['height_m'].mean() / 100, 5)

0.29951

3-1-b. 모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

In [ ]:
from scipy.stats import ttest_1samp
stats, pvalue = ttest_1samp(df['height_m'], 30)
round(stats, 3)

-0.217

3-1-c. 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [ ]:
print(round(pvalue, 3))
print('귀무')

0.829
귀무

- 조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.

3-2-a. 21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [ ]:
n = 21
k = 16
p = 0.7

from scipy.stats import binom
prob = binom.cdf(k-1, n, p)
round(prob, 3)

0.637

3-2-b. 적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [ ]:
k = 19
prob = binom.cdf(k-1, n, p)
round(1 - prob, 3)

0.027

# 3회 기출 변형
## 작업 1유형

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv
- 캘리포니아 집값 일부 변형: https://www.kaggle.com/datasets/harrywang/housing?select=housing.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

1-1. 결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라

In [ ]:
df = df.dropna(axis=0).reset_index(drop=True)
df.iloc[:int(len(df)*0.7)]['median_income'].quantile(0.25).round(2)

2.51

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv
- 년도별 국가의 GDP: https://www.kaggle.com/datasets/tunguz/country-regional-and-world-gdp

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

1-2. 1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라

In [ ]:
df_1990 = df[df['Year'] == 1990]
df_2010 = df[df['Year'] == 2010]
mean_1990 = df_1990['Value'].mean()
mean_2010 = df_2010['Value'].mean()
len(set(df_1990[df_1990['Value'] <= mean_1990]['Country Name']) & set(df_2010[df_2010['Value'] >= mean_2010]['Country Name']))

5

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv
- 타이타닉 탑승자 생존 데이터: https://www.kaggle.com/competitions/titanic

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

1-3. 데이터에서 결측치가 가장 많은 컬럼을 출력하라

In [ ]:
df.isnull().sum().sort_values().index[-1]

'Fare'

## 작업 2유형
- 여행자 보험 가입여부 분류: https://www.kaggle.com/datasets/tejashvi14/travel-insurance-prediction-data
- DataUrl(train): https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv
- DataUrl(test): https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv
- 종속 변수: TravelInsurance

TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표: auc, 제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

In [ ]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')

X = train[train.columns[1:-1]]
y = train[train.columns[-1]]
ID = test['ID']
test = test.drop(columns='ID')

X = pd.get_dummies(X)
test = pd.get_dummies(test)
test = test[X.columns]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
test = scaler.transform(test)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=10, stratify=y)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10, n_estimators=700, max_depth=5)
rf.fit(X_train, y_train)

train_predict = rf.predict_proba(X_train)[:, 1]
test_predict = rf.predict_proba(X_test)[:, 1]
proba = rf.predict_proba(test)[:, 1]

from sklearn.metrics import roc_auc_score
print('train auc:', roc_auc_score(y_train, train_predict))
print('test auc:', roc_auc_score(y_test, test_predict))

pd.DataFrame({'ID': ID, 'proba': proba})

train auc: 0.8446002613904012
test auc: 0.8431547619047619

       ID     proba
0       6  0.201642
1       9  0.291964
2      20  0.257386
3      21  0.173632
4      23  0.215069
..    ...       ...
492  1964  0.179501
493  1970  0.223714
494  1973  0.892783
495  1976  0.297115
496  1982  0.960284

[497 rows x 2 columns]

## 작업 3유형
- 다이어트약의 전후 체중 변화 기록이다.
- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv
- 투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다.
- -3이하: A등급, -3초과 0이하: B등급, 0 초과: C등급.
- 약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

3-1-a. A등급에 해당하는 유저는 몇명인지 확인하라

In [ ]:
df['del'] = df['투약후'] - df['투약전']
df['group'] = df['del'].map(lambda x: 'A' if x <= -3 else 'B' if x <= 0 else 'C')
len(df[df['group'] == 'A'])

121

3-1-b. 카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라

In [ ]:
from scipy.stats import chisquare
target = df['group'].value_counts().to_frame('counts')
target['expected'] = [target['counts'].sum()*0.5, target['counts'].sum()*0.25, target['counts'].sum()*0.25]

stats, pvalue = chisquare(target['counts'], target['expected'])
round(stats, 3)

3.613

3-1-c. 카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [ ]:
print(round(pvalue, 3))
if pvalue < 0.05:
    print('대립')
else:
    print('귀무')

0.164
귀무

- 다이어트약의 전후 체중 변화 기록이다.
- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2.csv
- A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다. 대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

3-2-a. A,B 공장 생산 제품의 rpm은 각각 정규성을 가지는지 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

In [ ]:
from scipy.stats import shapiro
A = df[df['group'] == 'A']['rpm']
B = df[df['group'] == 'B']['rpm']
_, pvalue_a = shapiro(A)
_, pvalue_b = shapiro(B)
print(pvalue_a)
print(pvalue_b)

0.397915244102478
0.9562925100326538

3-2-b. A,B 공장 생산 제품의 rpm은 등분산성을 가지는지 확인하라. (pvalue 출력할 것)

In [ ]:
from scipy.stats import levene
_, pvalue = levene(A, B)
pvalue

0.9038351280607142

3-2-c. 대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를 출력하라

In [ ]:
from scipy.stats import ttest_rel
s, p = ttest_rel(B, A, alternative='greater')
print(round(p, 3))
if p < 0.05:
    print('대립')
else:
    print('채택')

0.009
대립

# 4회 기출 변형
## 작업 1유형

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv
- 월마트 판매량 데이터: https://www.kaggle.com/datasets/asahu40/walmart-data-analysis-and-forcasting

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

1-1. Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라

In [ ]:
df['Temperature'] = df['Temperature'].str.replace('*', '').astype('float')
round(df['Temperature'].quantile(0.75) - df['Temperature'].quantile(0.25), 2)

<ipython-input-193-938085fc1982>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Temperature'] = df['Temperature'].str.replace('*', '').astype('float')

27.48

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv
- 유튜브 영상 통계량: https://www.kaggle.com/datasets/advaypatil/youtube-statistics?select=videos-stats.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

1-2. Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [ ]:
int(df[(df['Likes'] / df['Comments'] >= 20) & (df['Keyword'] == 'minecraft')]['Views'].mean())

1789084

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv
- 넷플릭스 영상 메타정보: https://www.kaggle.com/datasets/akashguna/netflix-prize-shows-information

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [ ]:
df['date_added_dt'] = pd.to_datetime(df['date_added'])
df[(df['date_added_dt'].dt.strftime("%Y-%m") == '2018-01') & (df['country'] == 'United Kingdom')].shape[0]

6

## 작업 2유형

- 유저 분류: https://www.kaggle.com/datasets/kaushiksuresh147/customer-segmentation
- train: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv
- test: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv
- 예측 변수: Segmentation

test.csv에 대해 ID별로 Segmentation의 클래스를 예측해서 저장후 제출, 제출 데이터 컬럼은 ID와 Segmentation 두개만 존재해야함. 평가지표는 macro f1 score

In [ ]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

X = train[train.columns[1:-1]]
y = train[train.columns[-1]]
ID = test.ID
test = test.drop(columns='ID')

# Gender, Age, Spending_Score 외엔 결측치 존재
ever_married = X['Ever_Married'].value_counts().index[0]
graduated = X['Graduated'].value_counts().index[0]
profession = X['Profession'].value_counts().index[0]
work_experience = X['Work_Experience'].value_counts().mean()
family_size = int(X['Family_Size'].value_counts().mean())
var_1 = X['Var_1'].value_counts().index[0]

cols = X.columns[1:].drop(['Age', 'Spending_Score'])
values = [ever_married, graduated, profession, work_experience, family_size, var_1]
fill_dic = dict(zip(cols, values))

for col in fill_dic.keys():
    X.loc[:, col] = X.loc[:, col].fillna(fill_dic[col])
    test.loc[:, col] = test.loc[:, col].fillna(fill_dic[col])

X['Family_Size'] = X['Family_Size'].astype('int').astype('str')
test['Family_Size'] = test['Family_Size'].astype('int').astype('str')

X = pd.get_dummies(X)
test = pd.get_dummies(test)[X.columns]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
test = scaler.transform(test)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2, random_state=10)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10, n_estimators=300)
rf.fit(X_train, y_train)

train_predict = rf.predict(X_train)
test_predict = rf.predict(X_test)

from sklearn.metrics import f1_score
print('train f1:', f1_score(y_train, train_predict, average='macro'))
print('test f1:', f1_score(y_test, test_predict, average='macro'))

<ipython-input-257-8a704821fae2>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.loc[:, col] = X.loc[:, col].fillna(fill_dic[col])
<ipython-input-257-8a704821fae2>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Family_Size'] = X['Family_Size'].astype('int').astype('str')

train f1: 0.965903468595147
test f1: 0.43195676810389594

## 작업 3유형

- 어느 대학교의 신입생의 학과별 성별에 대한 데이터이다.
- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv
- 이 데이터를 바탕으로, 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

3-1-a. 학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [ ]:
round(df.groupby('학과')['학번'].count().mean(), 3)

170.333

3-1-b. 카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

In [ ]:
from scipy.stats import chi2_contingency
target = pd.crosstab(df['학과'], df['성별'])
s, p, _, _ = chi2_contingency(target)
round(s, 3)

5.646

3-1-c. 카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라

In [ ]:
print(round(p, 3))

if p < 0.05:
    print('대립')
else:
    print('채택')

0.342
채택

- 어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.

3-2-a. 검정 통계량을 소숫점 이하 3자리에서 구하시오

In [ ]:
import numpy as np
n = 100
p_hat = 0.6
p = 0.5
alpha = 0.05

z = round((p_hat - p) / np.sqrt(p*(1-p)/n), 3)
z

2.0

3-2-b. pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라

In [ ]:
from scipy.stats import norm
p_value = round(1 - norm.cdf(z), 3)
print(p_value)
if p_value < 0.05:
    print('대립')
else:
    print('채택')

0.023
대립

# 5회 기출 변형
## 작업 1유형

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1.csv
- 종량제 봉투 가격 데이터: https://www.data.go.kr/data/15025538/standard.do

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

1-1. 20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [ ]:
target = df[(df['20L가격'] != 0) & (df['5L가격'] != 0)]
target['차이가격'] = target['20L가격'] - target['5L가격']
target.groupby('시도명')['차이가격'].mean().max().round(1)

<ipython-input-22-3caac4fda4b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target['차이가격'] = target['20L가격'] - target['5L가격']

619.0

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv
- 성인 체중 및 키 데이터: 자체 제작

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

1-2. BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [ ]:
df['BMI'] = df['weight(kg)'] / (df['height(cm)']/100)**2
target = df['BMI'].map(lambda x: '초고도비만' if x >= 25 else '고도비만' if x >= 23 else '정상' if x >=18.5 else '저체중')
target[(target == '초고도비만') | (target == '저체중')].shape[0]

8998

- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2.csv
- 년도별 서울 각 구의 초,중,고 전출 전입 인원: https://data.seoul.go.kr/dataList/10729/S/2/datasetView.do & 후처리

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

1-3. 순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [ ]:
in_cols = df.columns[df.columns.str.contains('전입')]
out_cols = df.columns[df.columns.str.contains('전출')]
df['순유입인원'] = df[in_cols].sum(axis=1) - df[out_cols].sum(axis=1)
df.groupby(['년도'])['순유입인원'].max().sum()

13853

## 작업 3유형
- 어느 학교에서 추출한 55명 학생들의 키 정보이다.
- DataUrl: https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv
- 이 학생들의 키의 95% 신뢰구간을 구하고자 한다.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

3-1-a. 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지)

In [ ]:
mean = df['height'].mean().round(3)
print(mean)

169.937

3-1-b. t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)

In [ ]:
from scipy.stats import t
import numpy as np

std = np.std(df.height, ddof=1)
n = len(df.height)

confidence = 0.95
ddof = n - 1

t_value = round(t.ppf((1 + confidence) / 2, ddof), 4)
print(t_value)

2.0049

3-1-c. 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [ ]:
lower = round(mean - t_value * std / np.sqrt(n),3)
upper = round(mean + t_value * std / np.sqrt(n),3)
print(lower, upper)

168.321 171.553