# 모의고사 1회
## 작업 1유형

- 데이터 출처: https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
- 데이터 설명: 은행의 전화 마케팅에 대해 고객의 반응 여부
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

In [2]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

Q. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0 ~ 9 : 0 , 10 ~ 19 : 10)

In [9]:
(df['age'] // 10 * 10).value_counts().index[0]

30

Q. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [11]:
(df['age'] // 10 * 10).value_counts().max()

5056

Q. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [15]:
df[(df['age'] >= 25) & (df['age'] < 29)]['housing'].value_counts().values[0]

504

Q. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [28]:
answer = df.select_dtypes(exclude='int').nunique().sort_values(ascending=False).index[0]
print(answer)

job

Q. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [32]:
df[df['balance'] >= df['balance'].mean()].sort_values('ID', ascending=False)[:100]['balance'].mean()

3473.73

Q. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [34]:
df.value_counts(['day', 'month']).index[0]

(15, 'may')

Q. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [39]:
target = df[df['job'] == 'unknown']['age']
from scipy.stats import shapiro
stats, pvalue = shapiro(target)
pvalue

0.19612720608711243

Q. age와 balance의 상관계수를 구하여라

In [44]:
df[['age', 'balance']].corr().iloc[0, 1]

0.10198734763981462

Q. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [48]:
from scipy.stats import chi2_contingency
target = pd.crosstab(df['y'], df['education'])
stats, pvalue, dof, expected = chi2_contingency(target)
pvalue

7.901201277473551e-29

Q. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [83]:
target = df[df['marital'] != 'single'].groupby('job')['marital'].value_counts().unstack().reset_index().fillna(0)
target['ratio'] = target.divorced / target.married
target['ratio'].max()

0.2831050228310502

## 작업 2유형
- 데이터 출처: https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
- 데이터 설명: 은행의 전화 마케팅에 대해 고객의 반응 여부
- train: https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
- test: https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv
- submission: https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

In [84]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

In [132]:
x_train = train[train.columns[1:-1]]
x_test = test[test.columns[1:]]
y_train = train['y']

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

from sklearn.preprocessing import StandardScaler
scaled_cols = ['age', 'balance', 'campaign', 'pdays', 'previous', 'day']
scaler = StandardScaler()
x_train[scaled_cols] = scaler.fit_transform(x_train[scaled_cols])
x_test[scaled_cols] = scaler.transform(x_test[scaled_cols])

from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(x_train, y_train, stratify=y_train, test_size=0.2, random_state=10)

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=10, max_depth=15)
model.fit(X_tr, y_tr)

tr_predict = model.predict_proba(X_tr)[:, 1]
val_predict = model.predict_proba(X_val)[:, 1]

from sklearn.metrics import roc_auc_score
print('train auc:', roc_auc_score(y_tr, tr_predict))
print('val auc:', roc_auc_score(y_val, val_predict))

test_predict = model.predict_proba(x_test)[:, 1]
pd.DataFrame({'ID': test.ID, 'predict': test_predict})

train auc: 0.9594122209251771
val auc: 0.802483550267536

         ID   predict
0     53608  0.792265
1     51055  0.740612
2     52573  0.080598
3     50458  0.110771
4     52272  0.245811
...     ...       ...
4286  50332  0.182475
4287  51293  0.797865
4288  54023  0.232057
4289  53775  0.582532
4290  51945  0.065706

[4291 rows x 2 columns]