# Ïú†ÌäúÎ∏å Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ (ÌïúÍµ≠)
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv', index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

1. Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [2]:
list(df['channelTitle'].value_counts().sort_values(ascending=False).head(10).index)

['Ïß§Ìà∞',
 'ÌååÎøåÎ¶¨',
 'SPOTV',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'Ïû•ÏÇêÏ≠à',
 'BANGTANTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'Ï¥ùÎ™áÎ™Ö']

2. ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [3]:
list(df[(df['dislikes'] > df['likes'])].channelTitle.unique())

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

3. Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [4]:
# ÌôïÏù∏
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
len(change[change > 1])

71

4. ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

In [5]:
df['trending_date2'] = df['trending_date2'].astype('datetime64')
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]

24

5. Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [6]:
df.groupby(['categoryId', df['trending_date2'].dt.day_name()]).size().unstack()

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

6. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [7]:
df2 = df.drop(index=df[df['view_count'] == 0].index).copy()
df2['ratio'] = df2['comment_count'] / df2['view_count']
df2.sort_values('ratio', ascending=False).head(1).title

50830    60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)
Name: title, dtype: object

7. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [8]:
df2.drop(index=df2[df2['ratio'] == 0].index, inplace=True)
df2.sort_values('ratio').iloc[0, 0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

8. like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [9]:
df2 = df[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
df2['ratio'] = df2['dislikes'] / df2['likes']
df2.sort_values('ratio').iloc[0, 0]

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

9. Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [10]:
df[df['channelId'] == df['channelId'].value_counts().sort_values(ascending=False).index[0]].channelTitle.unique()[0]

'Ïß§Ìà∞'

10. 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

In [11]:
(df[['title', 'channelId']].value_counts() >= 20).sum()

40

# Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ïú†ÌäúÎ∏å ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Ï†ïÎ≥¥ (10Î∂Ñ Í∞ÑÍ≤© ÏàòÏßë)
- dataurl1 (ÎπÑÎîîÏò§ Ï†ïÎ≥¥): https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (Ï∞∏Í∞ÄÏûê Ï±ÑÎÑê Ï†ïÎ≥¥): https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [12]:
import pandas as pd
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
display(video.head())
display(channel.head())

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

11. Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ‚Äòct‚ÄôÏª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï†Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥† video Îç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å value ÎßàÎã§ Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº

In [13]:
video['ct'] = video['ct'].astype('datetime64')
channel['ct'] = channel['ct'].astype('datetime64')
video['videoname'].value_counts()

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

12. ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [14]:
video.sort_values('ct', ascending=False, ignore_index=True).drop_duplicates('videoname').sort_values('videoname').reset_index(drop=True)[['viewcnt', 'videoname', 'ct']]

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

13. Channel Îç∞Ïù¥ÌÑ∞Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº

In [23]:
channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname')[['channelname', 'subcnt']].reset_index(drop=True)

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1        Ï∏ÑÏ†ïChuJeong   322000
2             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
5       Î¶¥ÌéÑ Lilpearl    10100
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
7               Ï°∞ÎÇòÎã®   215000
8               ÍΩàÎöúÎ£π  1330000
9     Balming Tiger    54300
10    Í≥ΩÌÜ†Î¶¨ kwak tori   471000