# Ïú†ÌäúÎ∏å Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ (ÌïúÍµ≠)
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv', index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

1. Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [ ]:
list(df['channelTitle'].value_counts().sort_values(ascending=False).head(10).index)

['Ïß§Ìà∞',
 'ÌååÎøåÎ¶¨',
 'SPOTV',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'Ïû•ÏÇêÏ≠à',
 'BANGTANTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'Ï¥ùÎ™áÎ™Ö']

2. ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [ ]:
list(df[(df['dislikes'] > df['likes'])].channelTitle.unique())

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

3. Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
# ÌôïÏù∏
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
len(change[change > 1])

71

4. ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

In [ ]:
df['trending_date2'] = df['trending_date2'].astype('datetime64')
df.loc[df['trending_date2'].dt.day_name() == 'Sunday']['categoryId'].value_counts().index[0]

24

5. Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [ ]:
df.groupby(['categoryId', df['trending_date2'].dt.day_name()]).size().unstack()

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

6. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [ ]:
df2 = df.drop(index=df[df['view_count'] == 0].index).copy()
df2['ratio'] = df2['comment_count'] / df2['view_count']
df2.sort_values('ratio', ascending=False).head(1).title

50830    60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)
Name: title, dtype: object

7. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [ ]:
df2.drop(index=df2[df2['ratio'] == 0].index, inplace=True)
df2.sort_values('ratio').iloc[0, 0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

8. like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [ ]:
df2 = df[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
df2['ratio'] = df2['dislikes'] / df2['likes']
df2.sort_values('ratio').iloc[0, 0]

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

9. Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [ ]:
df[df['channelId'] == df['channelId'].value_counts().sort_values(ascending=False).index[0]].channelTitle.unique()[0]

'Ïß§Ìà∞'

10. 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

In [ ]:
(df[['title', 'channelId']].value_counts() >= 20).sum()

40

# Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ïú†ÌäúÎ∏å ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Ï†ïÎ≥¥ (10Î∂Ñ Í∞ÑÍ≤© ÏàòÏßë)
- dataurl1 (ÎπÑÎîîÏò§ Ï†ïÎ≥¥): https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (Ï∞∏Í∞ÄÏûê Ï±ÑÎÑê Ï†ïÎ≥¥): https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [ ]:
import pandas as pd
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
display(video.head())
display(channel.head())

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

11. Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ‚Äòct‚ÄôÏª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï†Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥† video Îç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å value ÎßàÎã§ Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº

In [ ]:
video['ct'] = video['ct'].astype('datetime64')
channel['ct'] = channel['ct'].astype('datetime64')
video['videoname'].value_counts()

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

12. ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [ ]:
video.sort_values('ct', ascending=False, ignore_index=True).drop_duplicates('videoname').sort_values('videoname').reset_index(drop=True)[['viewcnt', 'videoname', 'ct']]

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

13. Channel Îç∞Ïù¥ÌÑ∞Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº

In [ ]:
channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname')[['channelname', 'subcnt']].reset_index(drop=True)

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1        Ï∏ÑÏ†ïChuJeong   322000
2             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
5       Î¶¥ÌéÑ Lilpearl    10100
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
7               Ï°∞ÎÇòÎã®   215000
8               ÍΩàÎöúÎ£π  1330000
9     Balming Tiger    54300
10    Í≥ΩÌÜ†Î¶¨ kwak tori   471000

14. Í∞ÅÏ±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ÍπåÏßÄ Íµ¨ÎèÖÏûêÏàò (subcnt) Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
# ÌôïÏù∏
start = channel[channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-10-03 03'][['channelname', 'subcnt']].reset_index(drop=True)
end = channel[channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-11-01 15'][['channelname', 'subcnt']].reset_index(drop=True)

start.columns = ['channelname', 'start_sub']
end.columns = ['channelname', 'end_sub']

df = pd.merge(start, end, how='inner', on='channelname')
df['del'] = df['end_sub'] - df['start_sub']
df[['channelname', 'del']]

        channelname    del
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

15. Í∞Å ÎπÑÎîîÏò§Îäî 10Î∂Ñ Í∞ÑÍ≤©ÏúºÎ°ú Íµ¨ÎèÖÏûêÏàò, Ï¢ãÏïÑÏöî, Ïã´Ïñ¥ÏöîÏàò, ÎåìÍ∏ÄÏàòÍ∞Ä ÏàòÏßëÎêúÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï°åÎã§. Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Ï§ë ÏàòÏßëÍ∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂ÑÏù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Íµ¨Í∞Ñ( Ìï¥Îãπ ÏãúÏ†ê Ï†Ñ,ÌõÑ) Ïùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [ ]:
import datetime
video['videoname'] = video['videoname'].str.strip()
EP1 = video[video['videoname'] == 'Í≥µÎ≤î EP1'].sort_values('ct')
idx = EP1[(EP1['ct'].diff(1) >= datetime.timedelta(minutes=20)) | (EP1['ct'].diff(1) <= datetime.timedelta(minutes=5))].index
idx_a = idx + 1
idx_b = idx - 1
idx = idx.append(idx_a).append(idx_b)
EP1[EP1.index.isin(idx)]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,Í≥µÎ≤î EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,Í≥µÎ≤î EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,Í≥µÎ≤î EP1

16. Í∞Å ÏóêÌîºÏÜåÎìúÏùò ÏãúÏûëÎÇ†Ïßú(ÎÖÑ-Ïõî-Ïùº)Î•º ÏóêÌîºÏÜåÎìú Ïù¥Î¶ÑÍ≥º Î¨∂Ïñ¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† Ï∂úÎ†•ÌïòÎùº

In [ ]:
video['date'] = video['ct'].dt.date
video = video.sort_values('ct')
video.groupby('videoname')[['date']].first().reset_index()

  videoname        date
0    Í≥µÎ≤î EP1  2021-10-07
1    Í≥µÎ≤î EP2  2021-10-09
2    Í≥µÎ≤î EP3  2021-10-14
3    Í≥µÎ≤î EP4  2021-10-16
4    Í≥µÎ≤î EP5  2021-10-21
5    Í≥µÎ≤î EP6  2021-10-23
6    Í≥µÎ≤î EP7  2021-10-28
7    Í≥µÎ≤î EP8  2021-10-30

17. ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•ÌïòÎùº

In [ ]:
video['time'] = video['ct'].dt.hour
video[video['time'] == 21][['viewcnt', 'ct', 'videoname']].groupby('videoname').first().sort_values('viewcnt', ascending=False).reset_index()

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03

18. video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎùº

In [ ]:
video['ratio'] = video['dislikecnt'] / video['likecnt']
video.groupby(['videoname']).last()[['ratio']].sort_values('ratio').reset_index()

  videoname     ratio
0    Í≥µÎ≤î EP7  0.013636
1    Í≥µÎ≤î EP6  0.015881
2    Í≥µÎ≤î EP4  0.017971
3    Í≥µÎ≤î EP5  0.021128
4    Í≥µÎ≤î EP3  0.022360
5    Í≥µÎ≤î EP1  0.027118
6    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

19. 2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎìúÏãúÏò§

In [ ]:
def view_diff(x):
    return max(x) - min(x)  
video[(video['ct'] >= pd.to_datetime('2021-11-01 00:00:00')) & (video['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))].groupby('videoname')[['viewcnt']].agg(view_diff)

           viewcnt
videoname
Í≥µÎ≤î EP1       13298
Í≥µÎ≤î EP2       10300
Í≥µÎ≤î EP3        9927
Í≥µÎ≤î EP4        9824
Í≥µÎ≤î EP5       10824
Í≥µÎ≤î EP6       14141
Í≥µÎ≤î EP7       26949
Í≥µÎ≤î EP8       89147

20. video Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ï§ëÎ≥µÎêòÎäî Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏãúÍ∞ÑÎåÄÏôÄ videoname ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
video[video.duplicated()][['videoname', 'ct']]

     videoname                  ct
721     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

# ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018 (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: 1930 ~ 2018ÎÖÑÎèÑ ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

21. Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞ÑÏùò Í∞Å ÎÇòÎùºÎ≥Ñ Í≥®ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÎìùÏ†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÌòïÌÉúÎ°ú Ï∂úÎ†•ÌïòÎùº

In [ ]:
df.groupby('Country')[['Goals']].sum().sort_values('Goals', ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

22. Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥Í∏∞Í∞ÑÎèôÏïà Í≥®ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [ ]:
df.groupby('Country')[['Player']].count().rename(columns={'Player':'counts'}).sort_values('counts', ascending=False).head()

           counts
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

23. Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ -ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§. ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™áÍ±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº

In [ ]:
df['YearsList'] = df['Years'].str.split('-')
def check(x):
    for i in x:
        if len(str(i)) != 4:
            return True
    return False
df['YearsList'].apply(check).sum()

45

24. **Q3ÏóêÏÑú Î∞úÏÉùÌïú ÏòàÏô∏ ÏºÄÏù¥Ïä§Î•º Ï†úÏô∏Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ df2ÎùºÍ≥† Ï†ïÏùòÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÏùò Ïà´ÏûêÎ•º Ï∂úÎ†•ÌïòÎùº (ÏïÑÎûò Î¨∏Ï†úÎ∂ÄÌÑ∞Îäî df2Î°ú ÌíÄÏù¥ÌïòÍ≤†ÏäµÎãàÎã§) **

In [ ]:
df2 = df[df['YearsList'].apply(check) == False].reset_index(drop=True)
df2.shape[0]

1250

25. ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÎ•º ÎÇòÌÉÄÎÇ¥Îäî ‚ÄòLenCup‚Äô Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† 4Ìöå Ï∂úÏ†ÑÌïú ÏÑ†ÏàòÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df2['LenCup'] = df2['YearsList'].map(lambda x: len(x))
len(df2[df2['LenCup'] == 4])

16

26. Yugoslavia Íµ≠Í∞ÄÏùò ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 2ÌöåÏù∏ ÏÑ†ÏàòÎì§Ïùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df2[df2['Country'] == 'Yugoslavia']['LenCup'].value_counts()[2]

7

27. 2002ÎÖÑÎèÑÏóê Ï∂úÏ†ÑÌïú Ï†ÑÏ≤¥ ÏÑ†ÏàòÎäî Î™áÎ™ÖÏù∏Í∞Ä?

In [ ]:
df2['Years'].str.contains('2002').sum()

156

28. Ïù¥Î¶ÑÏóê ‚Äòcarlos‚Äô Îã®Ïñ¥Í∞Ä Îì§Ïñ¥Í∞ÄÎäî ÏÑ†ÏàòÏùò Ïà´ÏûêÎäî Î™á Î™ÖÏù∏Í∞Ä? (ÎåÄ, ÏÜåÎ¨∏Ïûê Íµ¨Î∂Ñ x)

In [ ]:
df2['Player'].str.lower().str.contains('carlos').sum()

13

29. ÏõîÎìúÏªµ Ï∂úÏ†Ñ ÌöüÏàòÍ∞Ä 1ÌöåÎøêÏù∏ ÏÑ†ÏàòÎì§ Ï§ëÏóêÏÑú Í∞ÄÏû• ÎßéÏùÄ ÎìùÏ†êÏùÑ Ïò¨Î†∏Îçò ÏÑ†ÏàòÎäî ÎàÑÍµ¨Ïù∏Í∞Ä?

In [ ]:
df2[df2['LenCup'] == 1].sort_values('Goals', ascending=False)['Player'].values[0]

'Just Fontaine'

30. ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 1Ìöå ÎøêÏù∏ ÏÑ†ÏàòÎì§Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞ÄÎäî Ïñ¥ÎîîÏù∏Í∞Ä?

In [ ]:
df2[df2['LenCup'] == 1]['Country'].value_counts().index[0]

'Brazil'

# ÏÑúÏö∏Ïãú Îî∞Î¶âÏù¥ Ïù¥Ïö©Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.data.go.kr/data/15051872/fileData.do (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÏÑúÏö∏ÌäπÎ≥ÑÏãú_Í≥µÍ≥µÏûêÏ†ÑÍ±∞ ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïù¥Ïö©Ï†ïÎ≥¥
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ÎåÄÏó¨ÏùºÏûê  ÎåÄÏó¨ÏãúÍ∞Ñ  ÎåÄÏó¨ÏÜåÎ≤àÌò∏ ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú ÏÑ±Î≥Ñ Ïó∞Î†πÎåÄÏΩîÎìú  Ïù¥Ïö©Í±¥Ïàò    Ïö¥ÎèôÎüâ   ÌÉÑÏÜåÎüâ     Ïù¥ÎèôÍ±∞Î¶¨  ÏÇ¨Ïö©ÏãúÍ∞Ñ
0  2021-06-01     0   3541    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  13.04  0.17   731.55     6

31. ÎåÄÏó¨ÏùºÏûêÎ≥Ñ Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÍ≥†, Í∞ÄÏû• ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäî ÎÇ†ÏßúÎ•º Ï∂úÎ†•ÌïòÎùº

In [ ]:
result = df.groupby('ÎåÄÏó¨ÏùºÏûê').size().to_frame().rename(columns={0:'ÎåÄÏó¨Í±¥Ïàò'})
display(result)

             ÎåÄÏó¨Í±¥Ïàò
ÎåÄÏó¨ÏùºÏûê
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [ ]:
result[result['ÎåÄÏó¨Í±¥Ïàò'] == result['ÎåÄÏó¨Í±¥Ïàò'].max()].index[0]

'2021-06-04'

32. Í∞Å ÏùºÏûêÏùò ÏöîÏùºÏùÑ ÌëúÍ∏∞ÌïòÍ≥† (‚ÄòMonday‚Äô ~‚ÄôSunday‚Äô) ‚Äòday_name‚ÄôÏª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† Ïù¥Î•º Ïù¥Ïö©ÌïòÏó¨ Í∞Å ÏöîÏùºÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò Ï¥ùÌï©ÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [ ]:
df['ÎåÄÏó¨ÏùºÏûê'] = df['ÎåÄÏó¨ÏùºÏûê'].astype('datetime64')
df['day_name'] = df['ÎåÄÏó¨ÏùºÏûê'].dt.day_name()
df['day_name'].value_counts().to_frame()

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

33. Í∞Å ÏöîÏùºÎ≥Ñ Í∞ÄÏû• ÎßéÏù¥ Ïù¥Ïö©Ìïú ÎåÄÏó¨ÏÜåÏùò Ïù¥Ïö©ÌöüÏàòÏôÄ ÎåÄÏó¨ÏÜå Î≤àÌò∏Î•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [ ]:
df[['day_name', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏']].value_counts().to_frame('size').sort_values(['day_name', 'size'], ascending=False).reset_index().drop_duplicates('day_name', keep='first').reset_index(drop=True)

    day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

34. ÎÇòÏù¥ÎåÄÎ≥Ñ ÎåÄÏó¨Íµ¨Î∂Ñ ÏΩîÎìúÏùò (ÏùºÏùºÍ∂å/Ï†ÑÏ≤¥ÌöüÏàò) ÎπÑÏú®ÏùÑ Íµ¨Ìïú ÌõÑ Í∞ÄÏû• ÎÜíÏùÄ ÎπÑÏú®ÏùÑ Í∞ÄÏßÄÎäî ÎÇòÏù¥ÎåÄÎ•º ÌôïÏù∏ÌïòÎùº. ÏùºÏùºÍ∂åÏùò Í≤ΩÏö∞ ÏùºÏùºÍ∂å Í≥º ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)ÏùÑ Î™®Îëê Ìè¨Ìï®ÌïòÎùº

In [ ]:
total = df['Ïó∞Î†πÎåÄÏΩîÎìú'].value_counts().sort_index()
daily = df[df['ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú'].str.contains('ÏùºÏùºÍ∂å')]['Ïó∞Î†πÎåÄÏΩîÎìú'].value_counts().sort_index()
ratio = daily / total
ratio.sort_values(ascending=False).index[0]

'~10ÎåÄ'

35. Ïó∞Î†πÎåÄÎ≥Ñ ÌèâÍ∑† Ïù¥ÎèôÍ±∞Î¶¨Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.groupby('Ïó∞Î†πÎåÄÏΩîÎìú')[['Ïù¥ÎèôÍ±∞Î¶¨']].mean()

              Ïù¥ÎèôÍ±∞Î¶¨
Ïó∞Î†πÎåÄÏΩîÎìú
20ÎåÄ    3211.890552
30ÎåÄ    3341.443859
40ÎåÄ    3514.857416
50ÎåÄ    3593.668100
60ÎåÄ    3538.145737
70ÎåÄ~   3085.039641
~10ÎåÄ   2634.426279

36. Ïó∞Î†πÎåÄ ÏΩîÎìúÍ∞Ä 20ÎåÄÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥†,Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏù¥ Ï∂îÏ∂úÌïú Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑† Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïúÎã§.ÏµúÏ¢Ö Ï∂îÏ∂úÎêú Îç∞Ïù¥ÌÑ∞Î•º ÎåÄÏó¨ÏùºÏûê, ÎåÄÏó¨ÏÜå Î≤àÌò∏ ÏàúÏÑúÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ 1ÌñâÎ∂ÄÌÑ∞ 200ÌñâÍπåÏßÄÏùò ÌÉÑÏÜåÎüâÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê 3Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [ ]:
tw_mean = df.groupby('Ïó∞Î†πÎåÄÏΩîÎìú')[['Ïù¥ÎèôÍ±∞Î¶¨']].mean().iloc[0, 0]
top_200 = df[(df['Ïó∞Î†πÎåÄÏΩîÎìú'] == '20ÎåÄ') & (df['Ïù¥ÎèôÍ±∞Î¶¨'] >= tw_mean)].sort_values(['ÎåÄÏó¨ÏùºÏûê', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏'], ascending=False)[0:200]
round(top_200['ÌÉÑÏÜåÎüâ'].astype('float32').mean(), 3)

1.613

37. 6Ïõî 7Ïùº ~10ÎåÄÏùò ‚ÄúÏù¥Ïö©Í±¥Ïàò‚ÄùÏùò Ï§ëÏïôÍ∞íÏùÄ?

In [ ]:
df[(df['ÎåÄÏó¨ÏùºÏûê'] == '2021-06-07') & (df['Ïó∞Î†πÎåÄÏΩîÎìú'] == '~10ÎåÄ')]['Ïù¥Ïö©Í±¥Ïàò'].median()

1.0

38. ÌèâÏùº (Ïõî~Í∏à) Ï∂úÍ∑º ÏãúÍ∞ÑÎåÄ(Ïò§Ï†Ñ 6,7,8Ïãú)Ïùò ÎåÄÏó¨ÏÜåÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú ÌëúÌòÑÌïú ÌõÑ Í∞Å ÎåÄÏó¨ÏãúÍ∞ÑÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò ÏÉÅÏúÑ 3Í∞ú ÎåÄÏó¨ÏÜåÏôÄ Ïù¥Ïö©ÌöüÏàòÎ•º Ï∂úÎ†•ÌïòÎùº

In [ ]:
target = df[(~df['day_name'].isin(['Saturday', 'Sunday'])) & (df['ÎåÄÏó¨ÏãúÍ∞Ñ'].isin([6, 7, 8]))]
target = target.value_counts(['ÎåÄÏó¨ÏãúÍ∞Ñ', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).to_frame('Ïù¥Ïö©ÌöüÏàò')
target.sort_values(['ÎåÄÏó¨ÏãúÍ∞Ñ', 'Ïù¥Ïö©ÌöüÏàò'], ascending=False).groupby('ÎåÄÏó¨ÏãúÍ∞Ñ').head(3)

            Ïù¥Ïö©ÌöüÏàò
ÎåÄÏó¨ÏãúÍ∞Ñ ÎåÄÏó¨ÏÜåÎ≤àÌò∏
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     3214     36

39. Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌèâÍ∑† Ïù¥ÏÉÅÏùò Ïù¥ÎèôÍ±∞Î¶¨ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ Ï∂îÏ∂úÎç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌëúÎ≥∏ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['Ïù¥ÎèôÍ±∞Î¶¨'] >= df['Ïù¥ÎèôÍ±∞Î¶¨'].mean()]['Ïù¥ÎèôÍ±∞Î¶¨'].std()

5092.139707505356

40. ÎÇ®ÏÑ±(‚ÄòM‚Äô or ‚Äòm‚Äô)Í≥º Ïó¨ÏÑ±(‚ÄòF‚Äô or ‚Äòf‚Äô)Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df['ÏÑ±Î≥Ñ'] = df['ÏÑ±Î≥Ñ'].str.upper()
df.groupby('ÏÑ±Î≥Ñ')[['Ïù¥ÎèôÍ±∞Î¶¨']].mean()

           Ïù¥ÎèôÍ±∞Î¶¨
ÏÑ±Î≥Ñ
F   3468.575025
M   3209.110871

# Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µÎèÑ ÏßÄÌëú Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/unsdsn/world-happiness (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µÎèÑ ÏßÄÌëú Ï°∞ÏÇ¨
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv', encoding='utf-8')
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

41. Îç∞Ïù¥ÌÑ∞Îäî 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µ ÏßÄÏàòÎ•º ÌëúÌòÑÌïúÎã§. Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 10ÏúÑÎ•º Ï∞®ÏßÄÌïú ÎÇòÎùºÏùò ÌñâÎ≥µÏ†êÏàòÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['ÌñâÎ≥µÎû≠ÌÇπ'] == 10]['Ï†êÏàò'].mean()

7.259

42. Îç∞Ïù¥ÌÑ∞Îäî 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µ ÏßÄÏàòÎ•º ÌëúÌòÑÌïúÎã§. Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑÏù¥ÎÇ¥Ïùò ÎÇòÎùºÎì§Ïùò Í∞ÅÍ∞ÅÏùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÏãúÌïòÎùº

In [ ]:
df[df['ÌñâÎ≥µÎû≠ÌÇπ'] <= 50].groupby('ÎÖÑÎèÑ')[['Ï†êÏàò']].mean()

           Ï†êÏàò
ÎÖÑÎèÑ
2018  6.64678
2019  6.67002

43. 2018ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ ÌñâÎ≥µÏ†êÏàòÏôÄ Î∂ÄÌå®Ïóê ÎåÄÌïú Ïù∏ÏãùÏóê ÎåÄÌïú ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['ÎÖÑÎèÑ'] == 2018][['Ï†êÏàò', 'Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']].corr().iloc[0, 1]

0.40529152271510027

44. 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπÏù¥ Î≥ÄÌôîÌïòÏßÄ ÏïäÏùÄ ÎÇòÎùºÎ™ÖÏùò ÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df.duplicated(['ÎÇòÎùºÎ™Ö', 'ÌñâÎ≥µÎû≠ÌÇπ'], 'first')].shape[0]

15

45. 2019ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ Í∞ÅÎ≥ÄÏàòÍ∞Ñ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÍ≥† ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú ÌõÑ ÏÉÅÏúÑ 5Í∞úÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº. Ïª¨ÎüºÎ™ÖÏùÄ v1,v2,corrÏúºÎ°ú ÌëúÏãúÌïòÎùº

In [ ]:
result = df[df['ÎÖÑÎèÑ'] == 2019].corr().unstack().to_frame('corr').dropna()
result = result[result['corr'] != 1].sort_values('corr', ascending=False).reset_index()
result.columns = ['v1', 'v2', 'corr']
result.drop_duplicates('corr').reset_index(drop=True).head()

<ipython-input-61-444eb5d1d030>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  result = df[df['ÎÖÑÎèÑ'] == 2019].corr().unstack().to_frame('corr').dropna()

      v1     v2      corr
0  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÉÅÎåÄGDP  0.835462
1  ÏÉÅÎåÄGDP     Ï†êÏàò  0.793883
2  ÌñâÎ≥µÍ∏∞ÎåÄÏπò     Ï†êÏàò  0.779883
3  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê     Ï†êÏàò  0.777058
4  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÏÉÅÎåÄGDP  0.754906

46. Í∞Å ÎÖÑÎèÑÎ≥Ñ ÌïòÏúÑ ÌñâÎ≥µÏ†êÏàòÏùò ÌïòÏúÑ 5Í∞ú Íµ≠Í∞ÄÏùò ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.groupby('ÎÖÑÎèÑ').tail().groupby('ÎÖÑÎèÑ').mean()[['Ï†êÏàò']]

<ipython-input-80-022e948e75b6>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('ÎÖÑÎèÑ').tail().groupby('ÎÖÑÎèÑ').mean()[['Ï†êÏàò']]

          Ï†êÏàò
ÎÖÑÎèÑ
2018  3.1800
2019  3.1408

47. 2019ÎÖÑ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥† Ìï¥ÎãπÎç∞Ïù¥ÌÑ∞Ïùò ÏÉÅÎåÄ GDP ÌèâÍ∑† Ïù¥ÏÉÅÏùò ÎÇòÎùºÎì§Í≥º ÌèâÍ∑† Ïù¥ÌïòÏùò ÎÇòÎùºÎì§Ïùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Í∞ÅÍ∞Å Íµ¨ÌïòÍ≥† Í∑∏ Ï∞®Ïù¥Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [ ]:
target = df[df['ÎÖÑÎèÑ'] == 2019]
mean_19 = target['ÏÉÅÎåÄGDP'].mean()
up_avg = target[target['ÏÉÅÎåÄGDP'] >= mean_19]['Ï†êÏàò'].mean()
down_avg = target[target['ÏÉÅÎåÄGDP'] <= mean_19]['Ï†êÏàò'].mean()
up_avg - down_avg

1.390483957219251

48. Í∞ÅÎÖÑÎèÑÏùò Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏ÏãùÏùÑ ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌñàÏùÑÎïå ÏÉÅÏúÑ 20Í∞ú Íµ≠Í∞ÄÏùò Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏ÏãùÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.sort_values(['ÎÖÑÎèÑ', 'Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù'], ascending=False).groupby('ÎÖÑÎèÑ').head(20).groupby('ÎÖÑÎèÑ')[['Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']].mean()

      Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù
ÎÖÑÎèÑ
2018    0.3267
2019    0.3201

49. 2018ÎÖÑÎèÑ ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑ Ïù¥ÎÇ¥Ïóê Ìè¨Ìï®ÎêêÎã§Í∞Ä 2019ÎÖÑ 50ÏúÑ Î∞ñÏúºÎ°ú Î∞ÄÎ†§ÎÇú Íµ≠Í∞ÄÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
import numpy as np
before = df[(df['ÌñâÎ≥µÎû≠ÌÇπ'] <= 50) & (df['ÎÖÑÎèÑ'] == 2018)]['ÎÇòÎùºÎ™Ö'].values
after = df[(df['ÌñâÎ≥µÎû≠ÌÇπ'] >= 50) & (df['ÎÖÑÎèÑ'] == 2019)]['ÎÇòÎùºÎ™Ö'].values
len(np.intersect1d(before, after))

4

50. 2018ÎÖÑ,2019ÎÖÑ Î™®Îëê Í∏∞Î°ùÏù¥ ÏûàÎäî ÎÇòÎùºÎì§ Ï§ë ÎÖÑÎèÑÎ≥Ñ ÌñâÎ≥µÏ†êÏàòÍ∞Ä Í∞ÄÏû• Ï¶ùÍ∞ÄÌïú ÎÇòÎùºÏôÄ Í∑∏ Ï¶ùÍ∞Ä ÏàòÏπòÎäî?

In [ ]:
target = df[(df.duplicated('ÎÇòÎùºÎ™Ö', keep='first')) | (df.duplicated('ÎÇòÎùºÎ™Ö', keep='last'))].sort_values('ÎÇòÎùºÎ™Ö').reset_index(drop=True)
result = target[target['ÎÖÑÎèÑ'] == 2019].reset_index(drop=True)['ÎÇòÎùºÎ™Ö']
inc = np.round(target[target['ÎÖÑÎèÑ'] == 2019]['Ï†êÏàò'].values - target[target['ÎÖÑÎèÑ'] == 2018]['Ï†êÏàò'].values, 2)
result = pd.concat([result, pd.DataFrame(inc, columns=['Ï¶ùÍ∞ÄÏú®'])], axis=1)
result.iloc[result['Ï¶ùÍ∞ÄÏú®'].argmax()]

ÎÇòÎùºÎ™Ö    Burundi
Ï¶ùÍ∞ÄÏú®       0.87
Name: 20, dtype: object

# ÏßÄÏó≠Íµ¨ ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Í∏∞Ïò®, ÏäµÎèÑ,Î∞îÎûåÌíçÏÜçÏóê Îî∞Î•∏ ÎèÑÏãúÏùò 3Í∞ú ÏßÄÏó≠Íµ¨Ïùò ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâ
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan City power consumption.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv")
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

51. DateTimeÏª¨ÎüºÏùÑ ÌÜµÌï¥ Í∞Å ÏõîÎ≥ÑÎ°ú Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäîÏßÄ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Íµ¨ÌïòÏó¨Îùº

In [ ]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['DateTime'].dt.month.value_counts().sort_index().to_frame('count')

    count
1    4464
2    4032
3    4464
4    4320
5    4464
6    4320
7    4464
8    4464
9    4320
10   4464
11   4320
12   4320

52. 3ÏõîÎã¨Ïùò Í∞Å ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïò®ÎèÑÏùò ÌèâÍ∑†Îì§ Ï§ë Í∞ÄÏû• ÎÇÆÏùÄ ÏãúÍ∞ÑÎåÄÏùò Ïò®ÎèÑÎ•º Ï∂úÎ†•ÌïòÎùº

In [ ]:
df[df['DateTime'].dt.month == 3].groupby(df['DateTime'].dt.hour)['Temperature'].mean().min()

11.506612903225806

53. 3ÏõîÎã¨Ïùò Í∞Å ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïò®ÎèÑÏùò ÌèâÍ∑†Îì§ Ï§ë Í∞ÄÏû• ÎÜíÏùÄ ÏãúÍ∞ÑÎåÄÏùò Ïò®ÎèÑÎ•º Ï∂úÎ†•ÌïòÎùº

In [ ]:
df[df['DateTime'].dt.month == 3].groupby(df['DateTime'].dt.hour)['Temperature'].mean().max()

18.393602150537635

54. Zone 1 Power Consumption Ïª¨ÎüºÏùò valueÍ∞íÏùò ÌÅ¨Í∏∞Í∞Ä Zone 2 Power Consumption Ïª¨ÎüºÏùò valueÍ∞íÏùò ÌÅ¨Í∏∞Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Îì§Ïùò HumidityÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055052

55. Í∞Å zoneÏùò ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÍ∏∞ÌïòÎùº

In [ ]:
df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

56. TemperatureÏùò Í∞íÏù¥ 10ÎØ∏ÎßåÏùò Í≤ΩÏö∞ A, 10Ïù¥ÏÉÅ 20ÎØ∏ÎßåÏùò Í≤ΩÏö∞ B,20Ïù¥ÏÉÅ 30ÎØ∏ÎßåÏùò Í≤ΩÏö∞ C, Í∑∏ Ïô∏Ïùò Í≤ΩÏö∞ DÎùºÍ≥† Ìï†Îïå Í∞Å Îã®Í≥ÑÏùò Îç∞Ïù¥ÌÑ∞ Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
def Temp_group(x):
    if x < 10:
        return 'A'
    elif x < 20:
        return 'B'
    elif x < 30:
        return 'C'
    else:
        return 'D'
df['Temperature'].apply(Temp_group).value_counts()

B    26993
C    21105
A     2874
D     1444
Name: Temperature, dtype: int64

57. 6Ïõî Îç∞Ïù¥ÌÑ∞Ï§ë 12ÏãúÏùò TemperatureÏùò ÌëúÏ§ÄÌé∏Ï∞®Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].std()

2.0499417827951025

58. 6Ïõî Îç∞Ïù¥ÌÑ∞Ï§ë 12ÏãúÏùò TemperatureÏùò Î∂ÑÏÇ∞ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].var()

4.202261312849163

59. TemperatureÏùò ÌèâÍ∑†Ïù¥ÏÉÅÏùò TemperatureÏùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º TemperatureÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ ÌñàÏùÑÎïå 4Î≤àÏß∏ ÌñâÏùò Humidity Í∞íÏùÄ?

In [ ]:
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature')['Humidity'].iloc[3]

87.9

60. TemperatureÏùò Ï§ëÍ∞ÑÍ∞í Ïù¥ÏÉÅÏùò TemperatureÏùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•ºTemperatureÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ ÌñàÏùÑÎïå 4Î≤àÏß∏ ÌñâÏùò Humidity Í∞íÏùÄ?

In [ ]:
df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature')['Humidity'].iloc[3]

80.3

# Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/abcsds/pokemon (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

61. Legendary Ïª¨ÎüºÏùÄ Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨ Ïú†Î¨¥Î•º ÎÇòÌÉÄÎÇ∏Îã§.Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨Í≥º Í∑∏Î†áÏßÄ ÏïäÏùÄ Ìè¨ÏºìÎ™¨Îì§Ïùò HPÌèâÍ∑†Ïùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
result = df.groupby('Legendary')[['HP']].mean()
result.iloc[1] - result.iloc[0]

HP    25.556149
dtype: float64

62. Type 1ÏùÄ Ï£ºÏÜçÏÑ± Type 2 Îäî Î∂ÄÏÜçÏÑ±ÏùÑ ÎÇòÌÉÄÎÇ∏Îã§. Í∞ÄÏû• ÎßéÏùÄ Î∂ÄÏÜçÏÑ± Ï¢ÖÎ•òÎäî Î¨¥ÏóáÏù∏Í∞Ä?

In [ ]:
df['Type 2'].value_counts().index[0]

'Flying'

63. Í∞ÄÏû• ÎßéÏùÄ Type 1 Ïùò Ï¢ÖÏùò ÌèâÍ∑† Attack ÏùÑ ÌèâÍ∑† DefenseÎ°ú ÎÇòÎààÍ∞íÏùÄ?

In [ ]:
most_type1 = df['Type 1'].value_counts().index[0]
result = df[df['Type 1'] == most_type1][['Attack', 'Defense']].mean()
result.values[0] / result.values[1]

1.0165238678090576

64. Ìè¨ÏºìÎ™¨ ÏÑ∏ÎåÄ(Generation) Ï§ë Í∞ÄÏû•ÎßéÏùÄ LegendaryÎ•º Î≥¥Ïú†Ìïú ÏÑ∏ÎåÄÎäî Î™áÏÑ∏ÎåÄÏù∏Í∞Ä?

In [ ]:
df[df['Legendary'] == True].value_counts('Generation').index[0]

3

65. ‚ÄòHP‚Äô, ‚ÄòAttack‚Äô, ‚ÄòDefense‚Äô, ‚ÄòSp. Atk‚Äô, ‚ÄòSp. Def‚Äô, ‚ÄòSpeed‚Äô Í∞ÑÏùò ÏÉÅÍ¥Ä Í≥ÑÏàòÏ§ë Í∞ÄÏû• Ï†àÎåìÍ∞íÏù¥ ÌÅ∞ Îëê Î≥ÄÏàòÏôÄ Í∑∏ Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
result = df[df.columns[5:-2]].corr().unstack().to_frame('corr').reset_index()
result[result['corr'] != 1].sort_values('corr', ascending=False).iloc[0]

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

66. Í∞Å GenerationÏùò AttackÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨Ïãú ÏÉÅÏúÑ 3Í∞ú Îç∞Ïù¥ÌÑ∞Îì§(18Í∞ú)Ïùò AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.sort_values(['Generation', 'Attack']).groupby('Generation').head(3)['Attack'].mean()

19.5

67. Í∞Å GenerationÏùò AttackÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨Ïãú ÏÉÅÏúÑ 5Í∞ú Îç∞Ïù¥ÌÑ∞Îì§(30Í∞ú)Ïùò AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.sort_values(['Generation', 'Attack'], ascending=False).groupby('Generation').head()['Attack'].mean()

157.23333333333332

68. Í∞ÄÏû• ÌùîÌïòÍ≤å Î∞úÍ≤¨ÎêòÎäî (Type1 , Type2) Ïùò ÏåçÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?

In [ ]:
df[['Type 1', 'Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

69. ÌïúÎ≤àÏî©Îßå Ï°¥Ïû¨ÌïòÎäî (Type1 , Type2)Ïùò ÏåçÏùò Í∞ØÏàòÎäî Î™áÍ∞úÏù∏Í∞Ä?

In [ ]:
sum(df[['Type 1', 'Type 2']].value_counts() == 1)

39

70. ÌïúÎ≤àÏî©Îßå Ï°¥Ïû¨ÌïòÎäî (Type1 , Type2)Ïùò ÏåçÏùÑ Í∞Å ÏÑ∏ÎåÄ(Generation)ÏùÄ Í∞ÅÍ∞Å Î™áÍ∞úÏî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÍ∞Ä?

In [ ]:
result = df[['Type 1', 'Type 2']].value_counts()
idx = result[result == 1].index
generation = dict(zip(range(1, 7), [0]*6))
for i in idx:
    type1 = i[0]
    type2 = i[1]
    Gen = int(df[(df['Type 1'] == type1) & (df['Type 2'] == type2)]['Generation'].values)
    generation[Gen] += 1
pd.DataFrame(index=generation.keys(), columns=['count'], data=generation.values())

   count
1      1
2      4
3      5
4     13
5      7
6      9

# ÎåÄÌïúÎØºÍµ≠ Ï≤¥Î†•Ïû• Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: Íµ≠ÎØºÏ≤¥Ïú°ÏßÑÌù•Í≥µÎã® (Î¨∏Ìôî ÎπÖÎç∞Ïù¥ÌÑ∞ÌîåÎû´Ìèº) (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÎåÄÌïúÎØºÍµ≠ Íµ≠ÎØº Ï≤¥Î†•Ïû• ÌèâÍ∞Ä
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,Ï∏°Ï†ïÎÇòÏù¥,Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ,Ïã†Ïû• : cm,Ï≤¥Ï§ë : kg,Ï≤¥ÏßÄÎ∞©Ïú® : %,Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä) : mmHg,ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) : mmHg,ÏïÖÎ†•D : kg,ÏïâÏïÑÏúóÎ™∏ÏïûÏúºÎ°úÍµΩÌûàÍ∏∞ : cm,ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå,Ï†úÏûêÎ¶¨ Î©ÄÎ¶¨Îõ∞Í∏∞ : cm,Îì±Í∏â
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

71. Ï†ÑÏ≤¥Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) - Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä)Ïùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
(df['ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) : mmHg'] - df['Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä) : mmHg']).mean()

52.19539414750672

72. 50~59ÏÑ∏Ïùò Ïã†Ïû•ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[(df['Ï∏°Ï†ïÎÇòÏù¥'] >= 50) & (df['Ï∏°Ï†ïÎÇòÏù¥'] < 60)]['Ïã†Ïû• : cm'].mean()

164.07490107405314

73. Ïó∞Î†πÎåÄ (20~29 : 20ÎåÄ ‚Ä¶) Î≥Ñ Ïù∏ÏõêÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df['Ïó∞Î†πÎåÄ'] = df['Ï∏°Ï†ïÎÇòÏù¥'] // 10 * 10
df['Ïó∞Î†πÎåÄ'].value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: Ïó∞Î†πÎåÄ, dtype: int64

74. Ïó∞Î†πÎåÄ (20~29 : 20ÎåÄ ‚Ä¶) Î≥Ñ Îì±Í∏âÏùò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [ ]:
df.groupby(['Ïó∞Î†πÎåÄ', 'Îì±Í∏â']).size().to_frame('count').reset_index()

     Ïó∞Î†πÎåÄ Îì±Í∏â  count
0   20.0  A   1585
1   20.0  B   1443
2   20.0  C   1455
3   20.0  D   1348
4   30.0  A    743
5   30.0  B    697
6   30.0  C    626
7   30.0  D    594
8   40.0  A    386
9   40.0  B    428
10  40.0  C    455
11  40.0  D    532
12  50.0  A    321
13  50.0  B    410
14  50.0  C    474
15  50.0  D    564
16  60.0  A    314
17  60.0  B    371
18  60.0  C    339
19  60.0  D    311

75. ÎÇ®ÏÑ± Ï§ë AÎì±Í∏âÍ≥º DÎì±Í∏âÏùò Ï≤¥ÏßÄÎ∞©Î•† ÌèâÍ∑†Ïùò Ï∞®Ïù¥(ÌÅ∞ Í∞íÏóêÏÑú ÏûëÏùÄ Í∞íÏùò Ï∞®)Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
abs(df[(df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M') & (df['Îì±Í∏â'] == 'A')]['Ï≤¥ÏßÄÎ∞©Ïú® : %'].mean() - df[(df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M') & (df['Îì±Í∏â'] == 'D')]['Ï≤¥ÏßÄÎ∞©Ïú® : %'].mean())

7.932086486137521

76. Ïó¨ÏÑ± Ï§ë AÎì±Í∏âÍ≥º DÎì±Í∏âÏùò Ï≤¥Ï§ëÏùò ÌèâÍ∑†Ïùò Ï∞®Ïù¥(ÌÅ∞ Í∞íÏóêÏÑú ÏûëÏùÄ Í∞íÏùò Ï∞®)Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
abs(df[(df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'F') & (df['Îì±Í∏â'] == 'A')]['Ï≤¥Ï§ë : kg'].mean() - df[(df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'F') & (df['Îì±Í∏â'] == 'D')]['Ï≤¥Ï§ë : kg'].mean())

5.176211590296504

77. bmiÎäî ÏûêÏã†Ïùò Î™∏Î¨¥Í≤å(kg)Î•º ÌÇ§Ïùò Ï†úÍ≥±(m)ÏúºÎ°ú ÎÇòÎààÍ∞íÏù¥Îã§. Îç∞Ïù¥ÌÑ∞Ïùò bmi Î•º Íµ¨Ìïú ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏùÑ ÎßåÎì§Í≥† ÎÇ®ÏÑ±Ïùò bmi ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df['bmi'] = df['Ï≤¥Ï§ë : kg'] / (df['Ïã†Ïû• : cm']/100)**2
df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M']['bmi'].mean()

24.46134409819308

78. bmiÎ≥¥Îã§ Ï≤¥ÏßÄÎ∞©Ïú®Ïù¥ ÎÜíÏùÄ ÏÇ¨ÎûåÎì§Ïùò Ï≤¥Ï§ëÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['bmi'] < df['Ï≤¥ÏßÄÎ∞©Ïú® : %']]['Ï≤¥Ï§ë : kg'].mean()

61.7408806392542

79. ÎÇ®ÏÑ±Í≥º Ïó¨ÏÑ±Ïùò ÏïÖÎ†• ÌèâÍ∑†Ïùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M']['ÏïÖÎ†•D : kg'].mean() - df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'F']['ÏïÖÎ†•D : kg'].mean()

17.55954185047464

80. ÎÇ®ÏÑ±Í≥º Ïó¨ÏÑ±Ïùò ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ ÌöüÏàòÏùò ÌèâÍ∑†Ïùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M']['ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå'].mean() - df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'F']['ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå'].mean()

14.243156833157627

# Í∏∞Ïò® Í∞ïÏàòÎüâ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: 2020ÎÖÑÎèÑ Ïù¥ÌôîÎèô(ÏÑúÏö∏) , ÏàòÏòÅÎèô(Î∂ÄÏÇ∞)Ïùò ÏãúÍ∞ÑÎã®ÏúÑÏùò Í∏∞Ïò®Í≥º Í∞ïÏàòÎüâ
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv')
df.head()

                  time  Ïù¥ÌôîÎèôÍ∞ïÏàò  Ïù¥ÌôîÎèôÍ∏∞Ïò®  ÏàòÏòÅÎèôÍ∞ïÏàò  ÏàòÏòÅÎèôÍ∏∞Ïò®
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

81. Ïó¨Î¶ÑÏ≤†(6Ïõî,7Ïõî,8Ïõî) Ïù¥ÌôîÎèôÏù¥ ÏàòÏòÅÎèôÎ≥¥Îã§ ÎÜíÏùÄ Í∏∞Ïò®ÏùÑ Í∞ÄÏßÑ ÏãúÍ∞ÑÎåÄÎäî Î™áÍ∞úÏù∏Í∞Ä?

In [ ]:
df['time'] = pd.to_datetime(df['time'])
summer = df[df['time'].dt.month.isin([6, 7, 8])].reset_index(drop=True)
len(summer[summer['Ïù¥ÌôîÎèôÍ∏∞Ïò®'] > summer['ÏàòÏòÅÎèôÍ∏∞Ïò®']]['time'].dt.hour)

1415

82. Ïù¥ÌôîÎèôÍ≥º ÏàòÏòÅÎèôÏùò ÏµúÎåÄÍ∞ïÏàòÎüâÏùò ÏãúÍ∞ÑÎåÄÎ•º Í∞ÅÍ∞Å Íµ¨ÌïòÏó¨Îùº

In [ ]:
print('Ïù¥ÌôîÎèô ÏµúÎåÄÍ∞ïÏàòÎüâÏùò ÏãúÍ∞ÑÎåÄ:', df.iloc[df['Ïù¥ÌôîÎèôÍ∞ïÏàò'].argmax()]['time'])
print('ÏàòÏòÅÎèô ÏµúÎåÄÍ∞ïÏàòÎüâÏùò ÏãúÍ∞ÑÎåÄ:', df.iloc[df['ÏàòÏòÅÎèôÍ∞ïÏàò'].argmax()]['time'])

Ïù¥ÌôîÎèô ÏµúÎåÄÍ∞ïÏàòÎüâÏùò ÏãúÍ∞ÑÎåÄ: 2020-09-30 09:00:00
ÏàòÏòÅÎèô ÏµúÎåÄÍ∞ïÏàòÎüâÏùò ÏãúÍ∞ÑÎåÄ: 2020-07-23 12:00:00

# ÏÑúÎπÑÏä§ Ïù¥ÌÉàÏòàÏ∏° Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/shubh0799/churn-modelling ÏóêÏÑú Î≥ÄÌòï
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Í≥†Í∞ùÏùò Ïã†ÏÉÅÏ†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Î•º ÌÜµÌïú ÌöåÏÇ¨ ÏÑúÎπÑÏä§ Ïù¥ÌÉà ÏòàÏ∏° (Ï¢ÖÏÜçÎ≥ÄÏàò : Exited)
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

83. ÎÇ®ÏÑ± Ïù¥ÌÉà(Exited)Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞Ä(Geography)Îäî Ïñ¥ÎîîÏù¥Í≥† Ïù¥ÌÉà Ïù∏ÏõêÏùÄ Î™áÎ™ÖÏù∏Í∞Ä?

In [ ]:
df[df['Gender'] == 'Male'].groupby('Geography')['Exited'].sum().sort_values(ascending=False).head(1)

Geography
Germany    287
Name: Exited, dtype: int64

84. Ïπ¥ÎìúÎ•º ÏÜåÏú†(HasCrCard ==1)ÌïòÍ≥† ÏûàÏúºÎ©¥ÏÑú ÌôúÏÑ±Î©§Î≤Ñ(IsActiveMember ==1) Ïù∏ Í≥†Í∞ùÎì§Ïùò ÌèâÍ∑† ÎÇòÏù¥Î•º ÏÜåÏà´Ï†êÏù¥Ìïò 4ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº?

In [ ]:
round(df[(df['HasCrCard'] == 1) & (df['IsActiveMember'] == 1)]['Age'].mean(), 4)

39.6102

85. Balance Í∞íÏù¥ Ï§ëÍ∞ÑÍ∞í Ïù¥ÏÉÅÏùÑ Í∞ÄÏßÄÎäî Í≥†Í∞ùÎì§Ïùò CreditScoreÏùò ÌëúÏ§ÄÌé∏Ï∞®Î•º ÏÜåÏà´Ï†êÏù¥Ìïò 3ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [ ]:
round(df[df['Balance'] >= df['Balance'].median()]['CreditScore'].std(), 3)

97.295

# ÏÑ±Ïù∏ Í±¥Í∞ïÍ≤ÄÏßÑ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.data.go.kr/data/15007122/fileData.do (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: 2018ÎÖÑÎèÑ ÏÑ±Ïù∏Ïùò Í±¥Í∞ïÍ≤Ä ÏßÑÎç∞Ïù¥ÌÑ∞ (Ìù°Ïó∞ÏÉÅÌÉú 1- Ìù°Ïó∞, 0-ÎπÑÌù°Ïó∞ )
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv')
df.head()

,ÏÑ±Î≥ÑÏΩîÎìú,Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ),Ïã†Ïû•(5CmÎã®ÏúÑ),Ï≤¥Ï§ë(5KgÎã®ÏúÑ),ÌóàÎ¶¨ÎëòÎ†à,ÏãúÎ†•(Ï¢å),ÏãúÎ†•(Ïö∞),Ï≤≠Î†•(Ï¢å),Ï≤≠Î†•(Ïö∞),ÏàòÏ∂ïÍ∏∞ÌòàÏïï,...,ÌòàÏÉâÏÜå,ÏöîÎã®Î∞±,ÌòàÏ≤≠ÌÅ¨Î†àÏïÑÌã∞Îãå,(ÌòàÏ≤≠ÏßÄÏò§Ìã∞)AST,(ÌòàÏ≤≠ÏßÄÏò§Ìã∞)ALT,Í∞êÎßàÏßÄÌã∞Ìîº,Ìù°Ïó∞ÏÉÅÌÉú,Íµ¨Í∞ïÍ≤ÄÏßÑÏàòÍ≤ÄÏó¨Î∂Ä,ÏπòÏïÑÏö∞ÏãùÏ¶ùÏú†Î¨¥,ÏπòÏÑù
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

86. ÏàòÏ∂ïÍ∏∞ÌòàÏïïÍ≥º Ïù¥ÏôÑÍ∏∞ ÌòàÏïïÍ∏∞ ÏàòÏπòÏùò Ï∞®Ïù¥Î•º ÏÉàÎ°úÏö¥ Ïª¨Îüº(‚ÄòÌòàÏïïÏ∞®‚Äô) ÏúºÎ°ú ÏÉùÏÑ±ÌïòÍ≥†, Ïó∞Î†πÎåÄ ÏΩîÎìúÎ≥Ñ Í∞Å Í∑∏Î£π Ï§ë ‚ÄòÌòàÏïïÏ∞®‚Äô Ïùò Î∂ÑÏÇ∞Ïù¥ 5Î≤àÏß∏Î°ú ÌÅ∞ Ïó∞Î†πÎåÄ ÏΩîÎìúÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df['ÌòàÏïïÏ∞®'] = df['ÏàòÏ∂ïÍ∏∞ÌòàÏïï'] - df['Ïù¥ÏôÑÍ∏∞ÌòàÏïï']
df.groupby('Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)')['ÌòàÏïïÏ∞®'].var().sort_values(ascending=False).index[4]

60

87. ÎπÑÎßåÎèÑÎ•º ÎÇòÌÉÄÎÇ¥Îäî ÏßÄÌëúÏù∏ WHtRÎäî ÌóàÎ¶¨ÎëòÎ†à / ÌÇ§Î°ú ÌëúÌòÑÌïúÎã§. ÏùºÎ∞òÏ†ÅÏúºÎ°ú 0.58Ïù¥ÏÉÅÏù¥Î©¥ ÎπÑÎßåÏúºÎ°ú Î∂ÑÎ•òÌïúÎã§. Îç∞Ïù¥ÌÑ∞Ï§ë WHtR ÏßÄÌëúÏÉÅ ÎπÑÎßåÏù∏ Ïù∏ÏõêÏùò ÎÇ®/Ïó¨ ÎπÑÏú®ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df['WHtR'] = df['ÌóàÎ¶¨ÎëòÎ†à'] / df['Ïã†Ïû•(5CmÎã®ÏúÑ)']
fat = df[df['WHtR'] >= 0.58]
len(fat[fat['ÏÑ±Î≥ÑÏΩîÎìú'] == 'M']) / len(fat[fat['ÏÑ±Î≥ÑÏΩîÎìú'] == 'F'])

1.1693877551020408

# ÏûêÎèôÏ∞® Î≥¥ÌóòÍ∞ÄÏûÖ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÏûêÎèôÏ∞® Î≥¥Ìóò Í∞ÄÏûÖ ÏòàÏ∏°
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

88. Vehicle_Age Í∞íÏù¥ 2ÎÖÑ Ïù¥ÏÉÅÏù∏ ÏÇ¨ÎûåÎì§Îßå ÌïÑÌÑ∞ÎßÅ ÌïòÍ≥† Í∑∏Ï§ëÏóêÏÑú
Annual_Premium Í∞íÏù¥ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò Ï§ëÍ∞ÑÍ∞í Ïù¥ÏÉÅÏù∏ ÏÇ¨ÎûåÎì§ÏùÑ Ï∞æÍ≥†, Í∑∏Îì§Ïùò VintageÍ∞íÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df[(df['Vehicle_Age'] == '> 2 Years') & (df['Annual_Premium'] > df['Annual_Premium'].median())]['Vintage'].mean()

154.43647182359118

89. vehicle_ageÏóê Îî∞Î•∏ Í∞Å ÏÑ±Î≥Ñ(gender)Í∑∏Î£πÏùò Annual_PremiumÍ∞íÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨ ÏïÑÎûò ÌÖåÏù¥Î∏îÍ≥º ÎèôÏùºÌïòÍ≤å Íµ¨ÌòÑÌïòÎùº

In [ ]:
df.groupby(['Vehicle_Age', 'Gender'])['Annual_Premium'].mean().unstack()

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

# Ìï∏ÎìúÌè∞ Í∞ÄÍ≤© ÏòàÏ∏°Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ìï∏ÎìúÌè∞ Í∞ÄÍ≤©ÏòàÏ∏° (price_rangeÏª¨Îüº 0(Ï†ÄÎ†¥) ~3(Îß§Ïö∞ÎπÑÏåà) Î≤îÏúÑ )
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

90. price_range Ïùò Í∞Å valueÎ•º Í∑∏Î£πÌïëÌïòÏó¨ Í∞Å Í∑∏Î£πÏùò n_cores Ïùò ÎπàÎèÑÍ∞Ä Í∞ÄÏû•ÎÜíÏùÄ valueÏôÄ Í∑∏ ÎπàÎèÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.groupby(['price_range', 'n_cores']).size().sort_values(ascending=False).groupby(level=0).head(1)

price_range  n_cores
1            4          76
2            4          73
3            5          70
0            2          69
dtype: int64

91. price_range Í∞íÏù¥ 3Ïù∏ Í∑∏Î£πÏóêÏÑú ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÍ∞Ä 2Î≤àÏß∏Î°ú ÎÜíÏùÄ Îëê Ïª¨ÎüºÍ≥º Í∑∏ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
dfcorr = df[df['price_range'] == 3].corr().unstack().sort_values(ascending=False).dropna().drop_duplicates()
dfcorr[dfcorr != 1].reset_index().iloc[1]

level_0     three_g
level_1      four_g
0          0.604218
Name: 1, dtype: object

# ÎπÑÌñâÌÉëÏäπ Í≤ΩÌóò ÎßåÏ°±ÎèÑ Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÎπÑÌñâÌÉëÏäπ Í≤ΩÌóò ÎßåÏ°±ÎèÑ (satisfaction Ïª¨Îüº : ‚Äòneutral or dissatisfied‚Äô or satisfied ) (83123, 24) shape
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv')
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

92. Arrival Delay in Minutes Ïª¨ÎüºÏù¥ Í≤∞Ï∏°ÏπòÏù∏ Îç∞Ïù¥ÌÑ∞Îì§ Ï§ë ‚Äòneutral or dissatisfied‚Äô Î≥¥Îã§ ‚Äòsatisfied‚ÄôÏùò ÏàòÍ∞Ä Îçî ÎÜíÏùÄ ClassÎäî Ïñ¥Îîî Ïù∏Í∞Ä?

In [ ]:
class_satis = df[df['Arrival Delay in Minutes'].isnull()].groupby(['Class', 'satisfaction']).size().unstack()
class_satis[class_satis['neutral or dissatisfied'] < class_satis['satisfied']]

satisfaction  neutral or dissatisfied  satisfied
Class
Business                           36         76

# ÏàòÏßà ÏùåÏö©ÏÑ± Ïó¨Î∂Ä Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/adityakadiwal/water-potability
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÏàòÏßà ÏùåÏö©ÏÑ± Ïó¨Î∂Ä (Potablillity Ïª¨Îüº : 0 ,1 )
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv')
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

93. phÍ∞íÏùÄ ÏÉÅÎãπÌûà ÎßéÏùÄ Í≤∞Ï∏°ÏπòÎ•º Ìè¨Ìï®ÌïúÎã§. Í≤∞Ï∏°ÏπòÎ•º Ï†úÏô∏Ìïú ÎÇòÎ®∏ÏßÄ Îç∞Ïù¥ÌÑ∞Îì§ Ï§ë ÏÇ¨Î∂ÑÏúÑÍ∞í Í∏∞Ï§Ä ÌïòÏúÑ 25%Ïùò Í∞íÎì§Ïùò ÌèâÍ∑†Í∞íÏùÄ?

In [ ]:
ph = df[~df['ph'].isnull()]['ph']
ph[ph <= ph.quantile(0.25)].mean()

5.057093462441731

# ÏùòÎ£å ÎπÑÏö© ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/mirichoi0218/insurance/code (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÏùòÎ£åÎπÑÏö© ÏòàÏ∏°Î¨∏Ï†ú
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

94. Ìù°Ïó∞ÏûêÏôÄ ÎπÑÌù°Ïó∞Ïûê Í∞ÅÍ∞Å chargesÏùò ÏÉÅÏúÑ 10% Í∑∏Î£πÏùò ÌèâÍ∑†Ïùò Ï∞®Ïù¥Îäî?

In [ ]:
smoker = df[df['smoker'] == 'yes']['charges']
no_smoker = df[df['smoker'] == 'no']['charges']
smoker[smoker >= smoker.quantile(0.9)].mean() - no_smoker[no_smoker >= no_smoker.quantile(0.9)].mean()

29297.954548156144

# ÌÇπÏπ¥Ïö¥Ìã∞ Ï£ºÍ±∞ÏßÄ Í∞ÄÍ≤©ÏòàÏ∏°Î¨∏Ï†ú Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/harlfoxem/housesalesprediction (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÌÇπÏπ¥Ïö¥Ìã∞ Ï£ºÍ±∞ÏßÄ Í∞ÄÍ≤© ÏòàÏ∏°Î¨∏Ï†ú
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

95. bedrooms Ïùò ÎπàÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Îì§Ïùò priceÏùò ÏÉÅÏúÑ 10%ÏôÄ ÌïòÏúÑ 10%Í∞íÏùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
bed3 = df[df['bedrooms'] == df.value_counts('bedrooms').index[0]]['price']
bed3.quantile(0.9) - bed3.quantile(0.1)

505500.0

# ÎåÄÌïôÏõê ÏûÖÌïôÍ∞ÄÎä•ÏÑ± Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/mohansacharya/graduate-admissions (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÎåÄÌïôÏõê ÏûÖÌïô Í∞ÄÎä•ÏÑ± ÏòàÏ∏°
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

96. Serial No. Ïª¨ÎüºÏùÑ Ï†úÏô∏ÌïòÍ≥† ‚ÄòChance of Admit‚ÄôÏùÑ Ï¢ÖÏÜçÎ≥ÄÏàò, ÎÇòÎ®∏ÏßÄ Î≥ÄÏàòÎ•º ÎèÖÎ¶ΩÎ≥ÄÏàòÎùº Ìï†Îïå, ÎûúÎç§Ìè¨Î†àÏä§Ìä∏Î•º ÌÜµÌï¥ ÌöåÍ∑Ä ÏòàÏ∏°ÏùÑ Ìï† ÎñÑ Î≥ÄÏàòÏ§ëÏöîÎèÑ Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº (ÏãúÎìúÍ∞íÏóê Îî∞Îùº ÏàúÏÑúÎäî Îã¨ÎùºÏßàÏàò ÏûàÏùå)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
cols = df.columns[1:-1]
X = df[cols]
y = df[df.columns[-1]]
rf = RandomForestRegressor()
rf.fit(X, y)
pd.DataFrame(data=rf.feature_importances_, columns=['importance'], index=X.columns).sort_values('importance', ascending=False)

                   importance
CGPA                 0.820759
GRE Score            0.076107
TOEFL Score          0.034934
LOR                  0.025001
SOP                  0.023924
University Rating    0.011606
Research             0.007670

# Î†àÎìú ÏôÄÏù∏ ÌÄÑÎ¶¨Ìã∞ ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009 (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Î†àÎìú ÏôÄÏù∏ ÌÄÑÎ¶¨Ìã∞ ÏòàÏ∏°Î¨∏Ï†ú
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

97. quality Í∞íÏù¥ 3Ïù∏ Í∑∏Î£πÍ≥º 8Ïù∏ Îç∞Ïù¥ÌÑ∞Í∑∏Î£πÏùò Í∞Å Ïª¨ÎüºÎ≥Ñ ÎèÖÎ¶ΩÎ≥ÄÏàòÏùò ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùò Ï∞®Ïù¥Î•º Íµ¨Ìï†Îïå Í∑∏Í∞íÏù¥ Í∞ÄÏû• ÌÅ∞ Ïª¨ÎüºÎ™ÖÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
(df[df['quality'] == 8].std() - df[df['quality'] == 3].std()).sort_values(ascending=False).index[0]

'total sulfur dioxide'

# ÏïΩÎ¨º Î∂ÑÎ•ò Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/prathamtripathi/drug-classification (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: Ìà¨ÏïΩÌïòÎäî ÏïΩÏùÑ Î∂ÑÎ•ò
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

98. ÎÇ®ÏÑ±Îì§Ïùò Ïó∞Î†πÎåÄÎ≥Ñ (10ÏÇ¥Ïî© Íµ¨Î∂Ñ 0\~9ÏÑ∏ 10~19ÏÑ∏ ‚Ä¶) Na_to_KÍ∞íÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÏó¨Îùº

In [ ]:
df['Age2'] = df['Age'] // 10 * 10
df[df['Sex'] == 'M'].groupby('Age2')[['Na_to_K']].mean()

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

# ÏÇ¨Í∏∞ÌöåÏÇ¨ Î∂ÑÎ•ò Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/sid321axn/audit-data (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÏÇ¨Í∏∞ÌöåÏÇ¨ Î∂ÑÎ•ò
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

99. Îç∞Ïù¥ÌÑ∞Ïùò Risk Í∞íÏóê Îî∞Î•∏ score_aÏôÄ score_bÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [ ]:
df.groupby('Risk')[['Score_A', 'Score_B']].mean()

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

# ÏÑºÏÑúÎç∞Ïù¥ÌÑ∞ ÎèôÏûëÏú†Ìòï Î∂ÑÎ•ò Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/kyr7plus/emg-4 (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÏÑºÏÑúÎç∞Ïù¥ÌÑ∞Î°ú ÎèôÏûë Ïú†Ìòï Î∂ÑÎ•ò
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv')
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

100. poseÍ∞íÏóê Îî∞Î•∏ Í∞Å motionÏª¨ÎüºÏùò Ï§ëÍ∞ÑÍ∞íÏùò Í∞ÄÏû• ÌÅ∞ Ï∞®Ïù¥Î•º Î≥¥Ïù¥Îäî motionÏª¨ÎüºÏùÄ Ïñ¥ÎîîÏù¥Î©∞ Í∑∏Í∞íÏùÄ?

In [ ]:
dft = df.groupby('pose').median().T
abs(dft[0] - dft[1]).sort_values().tail(1)

motion_62    4.0
dtype: float64

# ÌòÑÎåÄ Ï∞®Îüâ Í∞ÄÍ≤© Î∂ÑÎ•òÎ¨∏Ï†ú Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÌòÑÎåÄ Ï∞®ÎüâÍ∞ÄÍ≤© Î∂ÑÎ•òÎ¨∏Ï†ú
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(¬£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

101. Ï†ïÎ≥¥(rowÏàò)Í∞Ä Í∞ÄÏû• ÎßéÏùÄ ÏÉÅÏúÑ 3Ï∞®Ï¢ÖÏùò priceÍ∞íÏùò Í∞Å ÌèâÍ∑†Í∞íÏùÄ?

In [ ]:
top3 = df.value_counts('model').head(3).index.values
df[df['model'].isin(top3)].groupby('model')[['price']].mean()

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

# ÎãπÎá®Ïó¨Î∂ÄÌåêÎã® Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/pritsheta/diabetes-dataset (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÎãπÎá®Ïó¨Î∂Ä ÌåêÎã®ÌïòÍ∏∞
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

102. Outcome Í∞íÏóê Îî∞Î•∏ Í∞Å Í∑∏Î£πÏùò Í∞Å Ïª¨ÎüºÏùò ÌèâÍ∑† Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
outcome = df.groupby('Outcome').mean().T
abs(outcome[0] - outcome[1])

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
dtype: float64

# ÎÑ∑ÌîåÎ¶≠Ïä§ Ï£ºÏãù Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021 (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö: ÎÑ∑ÌîåÎ¶≠Ïä§ Ï£ºÏãùÎç∞Ïù¥ÌÑ∞
- dataurl: https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

103. Îß§ÎÖÑ 5ÏõîÎã¨Ïùò openÍ∞ÄÍ≤©Ïùò ÌèâÍ∑†Í∞íÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df_open = df.groupby(df['Date'].dt.strftime('%Y-%m'))[['Open']].mean()
df_open[df_open.index.str.contains('-05')]

               Open
Date
2002-05    1.155833
2003-05    1.641497
2004-05    4.261143
2005-05    1.951905
2006-05    4.163571
2007-05    3.159351
2008-05    4.435034
2009-05    5.790571
2010-05   14.417071
2011-05   34.650272
2012-05   10.523247
2013-05   31.936429
2014-05   51.121292
2015-05   85.057429
2016-05   92.705715
2017-05  158.255455
2018-05  329.779541
2019-05  359.664548
2020-05  433.880499
2021-05  496.923996