# 분류

## 서비스 이탈예측 데이터
- 데이터 설명: 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수: Exited)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv
- x_label(평가용): https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv
- 데이터 출처: https://www.kaggle.com/shubh0799/churn-modelling 에서 변형

In [1]:
import pandas as pd
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv')

display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [2]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

In [3]:
drop_cols = ['CustomerId', 'Surname']
x_train_drop = x_train.drop(columns=drop_cols)
x_test_drop = x_test.drop(columns=drop_cols)

import sklearn
print(sklearn.__all__)

['calibration', 'cluster', 'covariance', 'cross_decomposition', 'datasets', 'decomposition', 'dummy', 'ensemble', 'exceptions', 'experimental', 'externals', 'feature_extraction', 'feature_selection', 'gaussian_process', 'inspection', 'isotonic', 'kernel_approximation', 'kernel_ridge', 'linear_model', 'manifold', 'metrics', 'mixture', 'model_selection', 'multiclass', 'multioutput', 'naive_bayes', 'neighbors', 'neural_network', 'pipeline', 'preprocessing', 'random_projection', 'semi_supervised', 'svm', 'tree', 'discriminant_analysis', 'impute', 'compose', 'clone', 'get_config', 'set_config', 'config_context', 'show_versions']

In [4]:
import sklearn.model_selection
print(sklearn.model_selection.__all__)

['BaseCrossValidator', 'BaseShuffleSplit', 'GridSearchCV', 'TimeSeriesSplit', 'KFold', 'GroupKFold', 'GroupShuffleSplit', 'LeaveOneGroupOut', 'LeaveOneOut', 'LeavePGroupsOut', 'LeavePOut', 'RepeatedKFold', 'RepeatedStratifiedKFold', 'ParameterGrid', 'ParameterSampler', 'PredefinedSplit', 'RandomizedSearchCV', 'ShuffleSplit', 'StratifiedKFold', 'StratifiedGroupKFold', 'StratifiedShuffleSplit', 'check_cv', 'cross_val_predict', 'cross_val_score', 'cross_validate', 'learning_curve', 'LearningCurveDisplay', 'permutation_test_score', 'train_test_split', 'validation_curve']

In [5]:
import sklearn.ensemble
print(sklearn.ensemble.__all__)

['BaseEnsemble', 'RandomForestClassifier', 'RandomForestRegressor', 'RandomTreesEmbedding', 'ExtraTreesClassifier', 'ExtraTreesRegressor', 'BaggingClassifier', 'BaggingRegressor', 'IsolationForest', 'GradientBoostingClassifier', 'GradientBoostingRegressor', 'AdaBoostClassifier', 'AdaBoostRegressor', 'VotingClassifier', 'VotingRegressor', 'StackingClassifier', 'StackingRegressor', 'HistGradientBoostingClassifier', 'HistGradientBoostingRegressor']

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
x_train_dummies = pd.get_dummies(x_train_drop)
y = y_train['Exited'].astype('int')

In [7]:
x_test_dummies = pd.get_dummies(x_test_drop)
x_test_dummies = x_test_dummies[x_train_dummies.columns]

In [8]:
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size=0.2, random_state=10)
rf = RandomForestClassifier(random_state=10, max_depth=15)
rf.fit(X_train, Y_train)

RandomForestClassifier(max_depth=15, random_state=10)

In [9]:
import sklearn.metrics
print(sklearn.metrics.__all__)

['accuracy_score', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'auc', 'average_precision_score', 'balanced_accuracy_score', 'calinski_harabasz_score', 'check_scoring', 'class_likelihood_ratios', 'classification_report', 'cluster', 'cohen_kappa_score', 'completeness_score', 'ConfusionMatrixDisplay', 'confusion_matrix', 'consensus_score', 'coverage_error', 'd2_tweedie_score', 'd2_absolute_error_score', 'd2_pinball_score', 'dcg_score', 'davies_bouldin_score', 'DetCurveDisplay', 'det_curve', 'DistanceMetric', 'euclidean_distances', 'explained_variance_score', 'f1_score', 'fbeta_score', 'fowlkes_mallows_score', 'get_scorer', 'hamming_loss', 'hinge_loss', 'homogeneity_completeness_v_measure', 'homogeneity_score', 'jaccard_score', 'label_ranking_average_precision_score', 'label_ranking_loss', 'log_loss', 'make_scorer', 'nan_euclidean_distances', 'matthews_corrcoef', 'max_error', 'mean_absolute_error', 'mean_squared_error', 'mean_squared_log_error', 'mean_pinball_loss', 'mean_poisson_deviance', 'mean_gamma_deviance', 'mean_tweedie_deviance', 'median_absolute_error', 'mean_absolute_percentage_error', 'multilabel_confusion_matrix', 'mutual_info_score', 'ndcg_score', 'normalized_mutual_info_score', 'pair_confusion_matrix', 'pairwise_distances', 'pairwise_distances_argmin', 'pairwise_distances_argmin_min', 'pairwise_distances_chunked', 'pairwise_kernels', 'PrecisionRecallDisplay', 'precision_recall_curve', 'precision_recall_fscore_support', 'precision_score', 'PredictionErrorDisplay', 'r2_score', 'rand_score', 'recall_score', 'RocCurveDisplay', 'roc_auc_score', 'roc_curve', 'SCORERS', 'get_scorer_names', 'silhouette_samples', 'silhouette_score', 'top_k_accuracy_score', 'v_measure_score', 'zero_one_loss', 'brier_score_loss']

In [10]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:, 1]
predict_validation_label = rf.predict(X_validation)
predict_validation_proba = rf.predict_proba(X_validation)[:, 1]

In [11]:
print('train accuracy:', accuracy_score(Y_train, predict_train_label))
print('validation accuracy:', accuracy_score(Y_validation, predict_validation_label))

train accuracy: 0.9834583573764185
validation accuracy: 0.8676923076923077

In [12]:
print('train f1_score:', f1_score(Y_train, predict_train_label))
print('validation f1_score:', f1_score(Y_validation, predict_validation_label))

train f1_score: 0.958130477117819
validation f1_score: 0.5656565656565656

In [13]:
print('train precision_score:', precision_score(Y_train, predict_train_label))
print('validation precision_score:', precision_score(Y_validation, predict_validation_label))

train precision_score: 1.0
validation precision_score: 0.7887323943661971

In [14]:
print('train recall_score:', recall_score(Y_train, predict_train_label))
print('validation recall_score:', recall_score(Y_validation, predict_validation_label))

train recall_score: 0.9196261682242991
validation recall_score: 0.4409448818897638

In [15]:
print('train auc:', roc_auc_score(Y_train, predict_train_proba))
print('validation auc:', roc_auc_score(Y_validation, predict_validation_proba))

train auc: 0.9999053876954209
validation auc: 0.8509469896568858

In [16]:
predict_test_label = rf.predict(x_test_dummies)
predict_test_proba = rf.predict_proba(x_test_dummies)[:, 1]

In [17]:
pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_label})

      CustomerId  Exited
0       15601012       1
1       15734762       1
2       15586757       0
3       15590888       0
4       15726087       0
...          ...     ...
3496    15733966       1
3497    15669994       0
3498    15712403       1
3499    15643819       0
3500    15644962       0

[3501 rows x 2 columns]

In [18]:
pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_proba})

      CustomerId    Exited
0       15601012  0.874302
1       15734762  0.862500
2       15586757  0.135732
3       15590888  0.193743
4       15726087  0.302182
...          ...       ...
3496    15733966  0.625921
3497    15669994  0.177137
3498    15712403  0.839999
3499    15643819  0.042222
3500    15644962  0.024533

[3501 rows x 2 columns]

## 이직여부 판단 데이터
- 데이터 설명: 이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv
- x_label(평가용): https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv
- 데이터 출처: https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists (참고, 데이터 수정)

In [159]:
import pandas as pd
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv')

display(x_train)
display(y_train)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12447,29597,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,<1,50-99,Pvt Ltd,1,55
12448,27821,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,7
12449,21812,city_160,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Pvt Ltd,1,36
12450,28416,city_160,0.920,Male,Has relevent experience,Full time course,Graduate,STEM,10,NaN,NaN,2,41
12451,31875,city_136,0.897,NaN,No relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,1,13

       enrollee_id  target
0            25298     0.0
1             4241     1.0
2            24086     0.0
3            26773     0.0
4            32325     1.0
...            ...     ...
12447        29597     1.0
12448        27821     0.0
12449        21812     0.0
12450        28416     0.0
12451        31875     0.0

[12452 rows x 2 columns]

In [160]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [161]:
x_train.nunique()

enrollee_id               12452
city                        122
city_development_index       92
gender                        3
relevent_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
dtype: int64

In [162]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  12452 non-null  int64
 1   target       12452 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 194.7 KB

In [163]:
drop_cols = ['enrollee_id', 'city', 'experience', 'company_type']
x_train_drop = x_train.drop(columns=drop_cols)
x_test_drop = x_test.drop(columns=drop_cols)

In [164]:
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
y = y_train['target'].astype('int')

In [165]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(x_train_dummies)
x_train_dummies = scaler.transform(x_train_dummies)
x_test_dummies = scaler.transform(x_test_dummies)

In [166]:
from sklearn.model_selection import train_test_split
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_dummies, y, test_size=0.33, random_state=10)

In [167]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10)
rf.fit(X_train, Y_train)

RandomForestClassifier(random_state=10)

In [176]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:, 1]

In [177]:
predict_validation_label = rf.predict(X_validation)
predict_validation_proba = rf.predict_proba(X_validation)[:, 1]

In [178]:
print('train accuracy:', accuracy_score(Y_train, predict_train_label))
print('validation accuracy:', accuracy_score(Y_validation, predict_validation_label))

train accuracy: 0.9956844881323423
validation accuracy: 0.7576642335766424

In [179]:
print('train f1_score:', f1_score(Y_train, predict_train_label))
print('validation f1_score:', f1_score(Y_validation, predict_validation_label))

train f1_score: 0.9912152269399708
validation f1_score: 0.45394736842105254

In [180]:
print('train recall_score:', recall_score(Y_train, predict_train_label))
print('validation recall_score:', recall_score(Y_validation, predict_validation_label))

train recall_score: 0.9907317073170732
validation recall_score: 0.3924170616113744

In [181]:
print('train precision_score:', precision_score(Y_train, predict_train_label))
print('validation precision_score:', precision_score(Y_validation, predict_validation_label))

train precision_score: 0.99169921875
validation precision_score: 0.5383615084525357

In [182]:
print('train auc:', roc_auc_score(Y_train, predict_train_proba))
print('validation auc:', roc_auc_score(Y_validation, predict_validation_proba))

train auc: 0.9998614190687362
validation auc: 0.7501770851917066

In [184]:
predict_test_label = rf.predict(x_test_dummies)
predict_test_proba = rf.predict_proba(x_test_dummies)[:, 1]

In [158]:
#제출
# pd.DataFrame({'enrollee_id': x_test.enrollee_id, 'target': predict_test_label}).to_csv('뭐시기.csv', index=False)
# pd.DataFrame({'enrollee_id': x_test.enrollee_id, 'target': predict_test_proba}).to_csv('뭐시기.csv', index=False)

## 정시 배송 여부 판단
- 데이터 설명: e-commerce 배송의 정시 도착여부 (1: 정시배송 0 : 정시미배송)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv
- x_label(평가용): https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv
- 데이터 출처: https://www.kaggle.com/datasets/prachi13/customer-analytics (참고, 데이터 수정)

In [185]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")

display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [186]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [187]:
x_train.nunique()

ID                     6598
Warehouse_block           5
Mode_of_Shipment          3
Customer_care_calls       6
Customer_rating           5
Cost_of_the_Product     215
Prior_purchases           8
Product_importance        3
Gender                    2
Discount_offered         65
Weight_in_gms          3365
dtype: int64

In [188]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Reached.on.Time_Y.N  6598 non-null   int64
dtypes: int64(2)
memory usage: 103.2 KB

In [189]:
x_train_drop = x_train.drop(columns=['ID'])
x_test_drop = x_test.drop(columns=['ID'])
y = y_train['Reached.on.Time_Y.N']

In [190]:
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)

In [191]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(x_train_dummies)
x_train_scaled = scaler.transform(x_train_dummies)
x_test_scaled = scaler.transform(x_test_dummies)

In [192]:
from sklearn.model_selection import train_test_split
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_scaled, y, test_size=0.33, random_state=10)

In [193]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10)
rf = rf.fit(X_train, Y_train)

In [197]:
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:, 1]
predict_validation_label = rf.predict(X_validation)
predict_validation_proba = rf.predict_proba(X_validation)[:, 1]

In [198]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, roc_auc_score
print('train accuracy:', accuracy_score(Y_train, predict_train_label))
print('validation accuracy:', accuracy_score(Y_validation, predict_validation_label))

train accuracy: 1.0
validation accuracy: 0.662534435261708

In [200]:
print('train f1_score:', f1_score(Y_train, predict_train_label))
print('validation f1_score:', f1_score(Y_validation, predict_validation_label))

train f1_score: 1.0
validation f1_score: 0.6953999171156238

In [201]:
print('train recall_score:', recall_score(Y_train, predict_train_label))
print('validation recall_score:', recall_score(Y_validation, predict_validation_label))

train recall_score: 1.0
validation recall_score: 0.65546875

In [202]:
print('train precision_score:', precision_score(Y_train, predict_train_label))
print('validation precision_score:', precision_score(Y_validation, predict_validation_label))

train precision_score: 1.0
validation precision_score: 0.7405119152691968

In [203]:
print('train auc:', roc_auc_score(Y_train, predict_train_proba))
print('validation auc:', roc_auc_score(Y_validation, predict_validation_proba))

train auc: 1.0
validation auc: 0.735101440701559

In [206]:
predict_test_label = rf.predict(x_test_scaled)
predict_test_proba = rf.predict_proba(x_test_scaled)[:, 1]

In [207]:
pd.DataFrame({'ID': x_test.ID, 'Reached.on.Time_Y.N': predict_test_label})

         ID  Reached.on.Time_Y.N
0      6811                    1
1      4320                    0
2      5732                    1
3      7429                    1
4      2191                    1
...     ...                  ...
4396   2610                    1
4397   3406                    0
4398  10395                    0
4399   3646                    0
4400    573                    1

[4401 rows x 2 columns]

In [208]:
pd.DataFrame({'ID': x_test.ID, 'Reached.on.Time_Y.N': predict_test_proba})

         ID  Reached.on.Time_Y.N
0      6811                 0.59
1      4320                 0.30
2      5732                 0.53
3      7429                 0.55
4      2191                 0.99
...     ...                  ...
4396   2610                 0.98
4397   3406                 0.42
4398  10395                 0.39
4399   3646                 0.28
4400    573                 0.98

[4401 rows x 2 columns]

## 성인 건강검진 데이터
- 데이터 설명: 2018년도 성인의 건강검 진데이터 (종속변수 : 흡연상태 1- 흡연, 0-비흡연 )
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv
- x_label(평가용): https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_test.csv
- 데이터 출처: https://www.data.go.kr/data/15007122/fileData.do (참고, 데이터 수정)

In [209]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

   ID  흡연상태
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

In [226]:
drop_cols = ['ID', '구강검진수검여부']
x_train_drop = x_train.drop(columns=drop_cols)
x_test_drop = x_test.drop(columns=drop_cols)
y = y_train.흡연상태
x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(x_train_dummies)
x_train_scaled = scaler.transform(x_train_dummies)
x_test_scaled = scaler.transform(x_test_dummies)

from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(x_train_scaled, y, test_size=0.2, random_state=10) 

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10)
rf = rf.fit(X_train, Y_train)

predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:, 1]
predict_val_label = rf.predict(X_val)
predict_val_proba = rf.predict_proba(X_val)[:, 1]

from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, roc_auc_score
print('train accuracy:', accuracy_score(Y_train, predict_train_label))
print('validation accuracy:', accuracy_score(Y_val, predict_val_label))
print('\n')
print('train f1_score:', f1_score(Y_train, predict_train_label))
print('validation f1_score:', f1_score(Y_val, predict_val_label))
print('\n')
print('train recall_score:', recall_score(Y_train, predict_train_label))
print('validation recall_score:', recall_score(Y_val, predict_val_label))
print('\n')
print('train precision_score:', precision_score(Y_train, predict_train_label))
print('validation precision_score:', precision_score(Y_val, predict_val_label))
print('\n')
print('train auc:', roc_auc_score(Y_train, predict_train_proba))
print('validation auc:', roc_auc_score(Y_val, predict_val_proba))

predict_test_label = rf.predict(x_test_scaled)
predict_test_proba = rf.predict_proba(x_test_scaled)[:, 1]

pd.DataFrame({'ID': x_test.ID, '흡연상태': predict_test_label})
pd.DataFrame({'ID': x_test.ID, '흡연상태': predict_test_proba})

train accuracy: 0.9999158296391897
validation accuracy: 0.7578274043317248


train f1_score: 0.9998855442371524
validation f1_score: 0.6770428015564202


train recall_score: 0.9997711146715496
validation recall_score: 0.6970724191063175


train precision_score: 1.0
validation precision_score: 0.6581320919406459


train auc: 1.0
validation auc: 0.8387457257275441

          ID  흡연상태
0          8  0.68
1         17  0.13
2         20  0.83
3         24  0.19
4         25  0.16
...      ...   ...
11134  55676  0.03
11135  55681  0.03
11136  55683  0.02
11137  55684  0.12
11138  55691  0.85

[11139 rows x 2 columns]

## 비행탑승 경험 만족도 데이터
- 데이터 설명: 비행탑승 경험 만족도 (satisfaction 컬럼 : ‘neutral or dissatisfied’ or satisfied ) (83123, 24) shape
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv
- x_label(평가용): https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_test.csv
- 데이터 출처: https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (참고, 데이터 수정)

In [227]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv")

display(x_train.head())
display(y_train.head())

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

   ID             satisfaction
0   0  neutral or dissatisfied
1   2  neutral or dissatisfied
2   3                satisfied
3   4                satisfied
4   5                satisfied

In [242]:
# neutral or dissatisfied라고 예측할 확률을 구하고 확률값을 제출
drop_cols = ['ID', 'id']
x_train_drop = x_train.drop(columns=drop_cols)
x_test_drop = x_test.drop(columns=drop_cols)

mean_value = x_train_drop['Arrival Delay in Minutes'].mean()
x_train_drop['Arrival Delay in Minutes'] = x_train_drop['Arrival Delay in Minutes'].fillna(mean_value)
x_test_drop['Arrival Delay in Minutes'] = x_test_drop['Arrival Delay in Minutes'].fillna(mean_value)

x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)
y = y_train['satisfaction']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(x_train_dummies)
x_train_scaled = scaler.transform(x_train_dummies)
x_test_scaled = scaler.transform(x_test_dummies)

from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(x_train_scaled, y, test_size=0.2, random_state=10)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=10)
rf = rf.fit(X_train, Y_train)

predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:, 1]
predict_val_label = rf.predict(X_val)
predict_val_proba = rf.predict_proba(X_val)[:, 1]

from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, roc_auc_score
print('train accuracy:', accuracy_score(Y_train, predict_train_label))
print('validation accuracy:', accuracy_score(Y_val, predict_val_label))
print('\n')
print('train f1_score:', f1_score(Y_train, predict_train_label, pos_label='neutral or dissatisfied'))
print('validation f1_score:', f1_score(Y_val, predict_val_label, pos_label='neutral or dissatisfied'))
print('\n')
print('train recall_score:', recall_score(Y_train, predict_train_label, pos_label='neutral or dissatisfied'))
print('validation recall_score:', recall_score(Y_val, predict_val_label, pos_label='neutral or dissatisfied'))
print('\n')
print('train precision_score:', precision_score(Y_train, predict_train_label, pos_label='neutral or dissatisfied'))
print('validation precision_score:', precision_score(Y_val, predict_val_label, pos_label='neutral or dissatisfied'))
print('\n')
print('train auc:', roc_auc_score(Y_train, predict_train_proba))
print('validation auc:', roc_auc_score(Y_val, predict_val_proba))

predict_test_proba = rf.predict_proba(x_test_scaled)[:, 1]

pd.DataFrame({'ID': x_test.ID, 'satisfaction': predict_test_proba})

train accuracy: 1.0
validation accuracy: 0.9613834586466166


train f1_score: 1.0
validation f1_score: 0.9662034112444725


train recall_score: 1.0
validation recall_score: 0.9807630650849631


train precision_score: 1.0
validation precision_score: 0.9520697167755992


train auc: 1.0
validation auc: 0.9936025986625197

           ID  satisfaction
0           1          0.18
1          16          0.07
2          17          0.00
3          25          0.00
4          27          0.76
...       ...           ...
20776  103895          0.03
20777  103896          0.00
20778  103897          1.00
20779  103900          0.00
20780  103902          0.01

[20781 rows x 2 columns]